[2020-01-06 23:13] drinfernoo opened #1 "Redesign AutoWidget Shortcut Menu"
Currently, when using AutoWidget to define paths in groups, the add-on shows a dialog with a simple "Launch Dialog" button, which *then* opens the skins' provided `script-skinshortcuts.xml`. The reasoning behind this was because it doesn't appear to be possible to call `RunScript(script.skinshortcuts,type=manage&amp;group=mygroup)` using `xbmc.executebuiltin(...)` from Python.

Unfortunately, this

[2020-01-06 23:47] jurialmunkey commented on #1
I think the ideal thing would be to reuse skin shortcuts dialog, as skinning additional dialogs are a pain and skinners don't often put as much effort into them.

If you use the skinshortcuts xml as a base, you should be able to hide controls using the setVisible() method of the control class.
https://codedocs.xyz/AlwinEsch/kodi/group__python__xbmcgui__control.html#ga4216f631d000e8577733dca2ea7d09

[2020-01-07 00:09] drinfernoo commented on #1
How can I use the standard Skin Shortcuts dialog, without getting the one from the skin? I would assume I'd need to copy the whole file into my project, but at that point, can't I just delete any controls I don't need?

[2020-01-07 02:44] jurialmunkey commented on #1
If you give it a different name and therefore make it a separate dialog, which then needs to be skinned separately and thus defeats the whole purpose of what I'm suggesting.

For addon dialogs, if the same filename xml exists in the skin folder, then Kodi will always use the skin's version. So if you use the same dialog name as skinshortcuts and hide/remove controls via python, then the addon will

[2020-01-07 02:49] jurialmunkey commented on #1
That's the whole point. You re-use the already skinned dialog and simply hide/remove the controls that you don't need via Python. That way the skinner doesn't need to skin yet another dialog.

Skinning additional addon dialogs is a major PITA and should be avoided where-ever possible.

A lot of work was done in Jarvis and Krypton to combine dialogs to reduce unnecessary skinning load. Plus, a redu

[2020-01-07 02:50] drinfernoo commented on #1
@jurialmunkey Ah, I see. I'll take a look at doing that. Any idea why I can't launch the dialog from Python, and have to do it from `xml`?

[2020-01-07 02:52] jurialmunkey commented on #1
You should be able to run it from python. I run scripts from TMDbHelper plugin.

[2020-01-07 02:56] jurialmunkey commented on #1
For example see: https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/container.py#L533-L539

I run that from a plugin path and it executes correctly.

[2020-01-07 03:12] drinfernoo commented on #1
That's what I expected as well... But it doesn't seem to work with Skin Shortcuts :(

[2020-01-07 04:27] jurialmunkey commented on #1
Remove the `&amp;` and replace with `&`.

`xbmc.executebuiltin("RunScript(script.skinshortcuts,type=manage&group=mygroup)")`

Predefined character entities such as `&amp;` are only used in XML (e.g. skins). In XML specs, `&` `<` `>` are all reserved characters and so need to be escaped as an entity when used as a string.

Since Python uses a backslash `\` to escape reserved characters, the `&amp;`

[2020-01-07 04:52] drinfernoo commented on #1
Wow, I never would've figured that out! 😆 It totally works now. Just to figure out this window thing next...

[2020-01-12 04:15] Demonseeed opened #2 "[Request] Hide Notifications During Playback"
Hi drinfernoo, great work on this addon!

I just wanted to see if there is a way to disable notifications (namely, the widgets refreshing notification) during playback?

I think possibly a setting with three options:
Notifications:
- always
- none during playback
- never

Thanks again!

[2020-01-12 04:38] drinfernoo commented on #2
There may be a way, but I hadn't thought of it. I actually really like seeing the little notification and knowing there will be new lists when I'm done watching what I'm watching... But it could be done, probably 👍

[2020-01-12 04:40] Demonseeed commented on #2
Thank you my friend!

I personally also do not mind it, however le wife does 😂

[2020-03-28 19:19] drinfernoo commented on #2
I have recently added a setting to disable the notification completely. Does that work, or would you still prefer the ability to show it unless something is playing?

[2020-03-28 19:20] drinfernoo commented on #1
I've completely dropped this functionality from the add-on, with everything being managed by AutoWidget via a toggleable context menu item.

[2020-03-28 19:20] #1 closed, assigned to drinfernoo

[2020-03-29 00:26] jurialmunkey commented on #1
The context menu functionality is next level! Well done! Makes setup so easy now.

[2020-03-29 00:37] drinfernoo commented on #1
@jurialmunkey Glad to hear it! I actually found that I was able to be much more consistent with the paths I could support by basing everything off of what information I could get from the context menu, rather than what asking Shortcuts returned... so I stuck with that 😅

[2020-03-29 03:15] SOOTTV opened #3 "[Bug] Special characters not working as group names"
**Describe the bug**
Special characters not working as group names, specifically the pipe "|"

[2020-03-29 03:34] drinfernoo opened #4 "[Enhancement] Support Skins Without Skin Shortcuts Integration"
Recently I've realized that skins which *don't* use Skin Shortcuts to manage their menu (as a great number of skins do now) must be able to store "widget" metadata in skin strings... the same way AutoWidget does 🤔

It should be fairly simple with that line of thought, I just had to think of it 😅

[2020-03-29 03:40] drinfernoo commented on #4
Possible side effects may include: "future-proofing" against a day when Skin Shortcuts is deprecated, "nested" widget groups (which should theoretically be possible with shortcut groups, now), and potentially universal skin support barring major changes to Kodi core 🙌

[2020-03-29 06:44] drinfernoo opened #5 "[Bug] Add-on Browser Paths Not Getting Called Correctly"
It seems there's some issue again with paths that begin with `addons://` 🤔

[2020-03-29 19:35] drinfernoo commented on #2
@Demonseeed, I'll be implementing it as you suggested in the beginning: https://forum.kodi.tv/showthread.php?tid=352934&pid=2935517#pid2935517

[2020-03-30 05:10] drinfernoo commented on #4
@jurialmunkey, will Kodi not parse an `$INFO[...]` tag inside of a skin string? 🤔

[2020-03-30 07:22] jurialmunkey commented on #4
As far as I gather, the info is converted immediately into an immutable string, thus removing the `$INFO[...]` as a reference.

e.g.
consider
`info = {'genre': ['Action']}`

In the skinning engine
`Skin.SetString(foobar,$INFO[ListItem.Genre])`
is equivalent to
`foobar = '{}'.format(info.get('genre'))`
not
`foobar = info.get('genre')`

So if now `info['genre'] = ['Adventure']`
then `print(foobar)`

[2020-03-30 14:25] drinfernoo commented on #4
Interesting... I thought so too. Trying to put a skin string containing a plugin path, wrapped in `$INFO` didn't work in AH's fullscreen widget path 🤔

[2020-03-31 04:00] drinfernoo opened #6 "[Enhancement] Allow Editing Groups"
https://forum.kodi.tv/showthread.php?pid=2935998#pid2935998

Ideally, this would function almost identically to the path editor, except without the important path stuff 😅

[2020-03-31 20:27] #2 closed

[2020-03-31 20:27] #3 closed, assigned to nobody

[2020-03-31 20:27] #5 closed, assigned to nobody

[2020-03-31 20:27] #6 closed, assigned to nobody

[2020-03-31 20:27] #4 closed, assigned to nobody

[2020-03-31 20:38] drinfernoo opened #7 "[Enhancement] Add JSON Migration Scheme"
As the title would suggest, AutoWidget needs a way to attempt to carry "old" widget group/path/widget definitions into "new" versions of the add-on. Ideally, this will allow future changes to the JSON format to be respected automatically, preventing parsing errors and allowing new features and processes to be used on widgets made in older versions.

[2020-04-02 09:10] unkn0wn234 opened #8 "Error when deleting paths or groups"
https://paste.ubuntu.com/p/z65WcgVjq8/

[2020-04-02 19:22] drinfernoo commented on #8
Fixed in `1.3.3`.

[2020-04-02 19:22] #8 closed, assigned to nobody

[2020-04-06 02:15] drinfernoo opened #9 "[Enhancement] "Cycle"-type Widgets"
These widgets would cycle through paths in order, rather than randomly.

To choose a cycling group, you would simply pick the "Next Path" option, instead of "Random Path".

[2020-04-11 15:01] drinfernoo opened #10 "[Bug] Fix Menu Visibility"
Currently in AutoWidget, there is some "hand waving" getting done in order to show different content on different menus depending on the active skin window.

This is what makes the "Shortcuts from *Group*" and "Random Path from (*UUID*)" menus show different items ("Initialize Widgets", separators, etc...) when they're used as a widget, versus when they're opened as a menu.

The current implementa

[2020-04-11 15:03] drinfernoo opened #11 "[Enhancement] Defined Widgets Menu"
In the same way that you currently open groups to see the paths they have defined, I'd like to implement a menu that lets you view and manage attributes of currently defined *widgets* in the skin.

[2020-04-11 15:11] drinfernoo opened #12 "[Enhancement] "Clone" and "Explode" Groups"
All names are tentative, but the idea behind these would be for adding items to a group in bulk. There would be two new options that would be shown in the "Add as..." dialog:

"Clone as Shortcut Group", which will create a new shortcut group with _shortcuts_  for each subfolder of the original folder.

"Explode as Widget Group", which will create a new widget group with _paths_  for each subfolder

[2020-04-11 15:34] drinfernoo commented on #11
Along with this, with better widget tracking (which is already beginning to be implemented), it should also be easier to refresh *specific* widgets, rather than the entire stack.

[2020-04-13 14:23] #9 closed, assigned to nobody

[2020-04-13 14:23] #10 closed, assigned to nobody

[2020-04-13 14:23] #12 closed, assigned to nobody

[2020-04-21 13:49] phlvdf opened #13 "[Bug] - Unable to Use Shortcuts to Playable Files"
AutoWidget - Shortcut groups: live channels not working

I’ve created a shortcut group that points to selected live streams from different addons. For some reason, they don’t work from the AutoWidget shortcut group (but they all work if I access them from the addons themselves).

Here’s a log (my apologies if it’s too long, it’s my first time creating one):
https://paste.ubuntu.com/p/YMDCbHbQWy/

[2020-04-22 04:17] drinfernoo commented on #13
I believe I've narrowed this down to the fact that those are *playable* "files". I should have a fix soon that allows these to work, as well as direct shortcuts to other playable files as well.

[2020-04-22 22:43] drinfernoo commented on #11
Implemented in full in `1.5.0`.

[2020-04-22 22:43] #11 closed, assigned to nobody

[2020-04-22 22:44] drinfernoo commented on #13
Will you attempt to use these in `1.5.0`? You shouldn't even need to change your groups. Simply update the add-on, and see if your existing shortcuts work.

[2020-04-22 22:45] drinfernoo commented on #7
I've decided this approach is simply too cumbersome to matter. The more effective way seems to be... *proper* (😅) handling of "missing" and/or "default" keys during processing.

[2020-04-22 22:45] #7 closed, assigned to nobody

[2020-04-23 09:01] phlvdf commented on #13
I’ve tried a few times, but it always crashes while loading and then exits Kodi (I use a Shield, if it helps...)

[2020-04-23 12:37] drinfernoo commented on #13
@phlvdf I'll need a debug log.

[2020-04-23 12:50] phlvdf commented on #13
Of course, here it is: https://paste.ubuntu.com/p/nCVQsWrpZW/

One more thing I’ve experience after the update, and I hope it is reflected in the log, is that when I now try to edit the icon path of my shortcuts it returns an error.

[2020-04-23 13:42] drinfernoo commented on #13
It looks like to me that the shortcut ia working, but the YouTube add-on is what's crashing it.

The error with artwork is a separate issue, but I haven't seen what the error actually is yet 😅

[2020-04-23 13:58] phlvdf commented on #13
I’ve tried opening the shortcut from the addon itself (instead than from the homepage) and it works. I’m confused as to why YouTube sticks its nose in it if I’m trying to click on the shortcut from the homepage... If you have any suggestion, it will be very welcome!

Also, I’ve just got a log for the icon issue, would you like me to open a new issue, or should I just attach it here?

[2020-04-23 14:09] drinfernoo commented on #13
A new issue would be great 👌 I'll look into this one a bit further this evening, but that does sound like it might be something on YouTube's end.

If you could attach your group file, that would help me out.

[2020-04-23 15:29] phlvdf opened #14 "[Bug] Unable to edit shortcut icons/thumbs"
With the new update I’m having troubles editing the shortcuts icons: I click on Edith path / Art / and then I get an error message inviting me to check the log.

Here is a log: https://paste.ubuntu.com/p/NzQS6fd8Mj/

I hope this provides enough context, I’ll be happy to gather more info if necessary.

[2020-04-24 00:58] drinfernoo commented on #14
This *should* be fixed in version 0.0.624 from the devrepo... but if you'd confirm (or someone else), I'll push it to the stable repo as well.

[2020-04-24 01:45] drinfernoo commented on #13
Ok, so I've figured out the *issue*... but not the fix.

For some reason, the YouTube add-on doesn't like to have it's paths called by `PlayMedia(...)`, but only when called from a widget. I'm really not sure why that would be, but I haven't seen any other add-ons have this issue (yet).

It's possible that something is being handled incorrectly on my end though, as running those same paths with `R

[2020-04-24 11:48] phlvdf commented on #14
I have downloaded the dev version, and have opened it to try to edit the artwork from there but unfortunately had the same error message.

Here’s the log: https://paste.ubuntu.com/p/NGN82gf9RM/

[2020-04-24 13:19] drinfernoo commented on #14
Your log still shows `1.5.0`. Make sure that you install `0.0.624` from the devrepo.

[2020-04-24 13:30] phlvdf commented on #14
I did, and I have opened that one to edit the thumbs... should I perhaps delete 1.5.0. and open 0.0.624 only after I did that?

I’m still pretty “new” to this, please feel free to give me pointers.

[2020-04-24 13:36] drinfernoo commented on #14
Hmm, it may be best to uninstall the add-on first, yeah. Then when you install, it will give you a long list of options.

[2020-04-24 13:41] phlvdf commented on #14
Before I do that: if I do so, will I loose all my shortcuts and widgets?
If so, I will download it to a different device. What do you reckon?

[2020-04-24 13:50] drinfernoo commented on #14
I reckon, go ahead and update to `1.5.1`. I tested it myself and it should be working fine now.

[2020-04-24 13:50] #14 closed, assigned to nobody

[2020-04-24 14:01] phlvdf commented on #14
Thank you!

[2020-04-24 15:42] drinfernoo commented on #13
For the time being, I've just added an exclusion for YouTube paths. It'll work fine, and allow me a sort of "whitelist" for future add-ons that may behave similarly.

[2020-04-24 15:48] #13 closed, assigned to nobody

[2020-04-24 18:22] papadcha opened #15 "[Bug] Error after updating from 1.45 to 1.50,1.51,1.52"
**Describe the bug**
I created as described in your youtube video some widgets with version 1.45 when the 1.50 version was available and updated the same widgets I get error that prompt me to check error log. Same error appear also with 1.51 and 1.52. When I downgrade to 1.45 everything works fine. I uninstall the autowidget and clear the usedata folder of addon (also before I was purge data from

[2020-04-24 20:25] drinfernoo commented on #15
Can you please zip your `addon_data/plugin.program.autowidget` folder, and attach it here? That way I can replicate your exact situation.

[2020-04-24 21:26] papadcha commented on #15
Done, file uploaded. And thanks for quick response. BTW neither 1.53 fix my error.
[plugin.program.autowidget.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/4531604/plugin.program.autowidget.zip)

[2020-04-24 22:03] drinfernoo commented on #15
Actually, I think the issue appears to be that you have more widgets defined that paths in your group. Is that right? It would look like three widgets all pulling from the "Movies" group.

Due to recent changes in the way I avoid having the same path onscreen from two different AutoWidgets, I think that would cause this.

I'll have to look further into it.

EDIT: I would presume that adding a thir

[2020-04-24 23:32] papadcha commented on #15
For your help. I delete addondata folder of your addon. (I dont know how the path from version 1.45 pointing to spotlight remains because I was delete it as I previous said), I upgrade to 1.53 latest version. Add only one group with only one widget. Same error. The plugin dont even initialize the widget.

[2020-04-25 14:11] drinfernoo commented on #15
This should be fixed in `1.5.4`.

[2020-04-25 14:11] #15 closed, assigned to nobody

[2020-04-30 15:57] swisslis opened #17 "[Request] Hide watched items in lists"
**Is your feature request related to a problem? Please describe.**
I use (and love!) autowidget and getting to grips. I have made a group which has various trakt lists in via TMDB Helper. I have hide watched enabled on these, and in TMDB helper they are hidden but when they come up on autowidget they are not.

**Describe the solution you'd like**
An option to force hiding of watched items on the a

[2020-05-03 03:34] drinfernoo commented on #17
Hey, thanks for the kind words up top!

Can you maybe show some screenshots or give incredibly specific examples?

This should *never* be an issue, **at all**. AutoWidget does not populate the items into the widget, nor does it manipulate them in any way. If you add a path from Netflix, TheMovieDb Helper, your library, or anything else or that matter, to a widget group, and it gets chosen whenever

[2020-05-03 10:18] swisslis commented on #17
Hey, thanks for your reply

Was reading through, and I'm 'glad' that you got the same issue, not glad its a nuisance but glad at least it could be replicated and wasn't something my end specifically with me being stupid!

It makes perfect sense what you are saying, which unfortunately means this issue makes no sense! I can see how autowidget wouldn't manipulate the information in any way, purely s

[2020-05-03 16:05] drinfernoo commented on #17
The last I knew, Seren doesn't have a "Hide Watched" option 🤔 If you've set it in the skin, then that's handled by Skin Helper, and should apply to any widget, I believe.

However, I think I've found a workaround for TMDbHelper, that I just need to test later.

[2020-05-03 16:13] swisslis commented on #17
Sorry yes you are right I said it wrong - no hide watched in seren, I did it via the skin options. So as you say thats handled by skin helper? I use artic zephyr 2 as my skin, if that helps in any way. Haven't got any other skins set up to test and check on.

Fingers crossed if you think you may have sussed it though. Will be happy to feedback as and when an update gets pushed.

Get Outlook for An

[2020-05-03 16:17] swisslis commented on #17
Photo below (hopefully shows you) that hide watched items option is ticked in skin helper service widgets if that's useful info. Again would have thought that was enough to block them being shown on any widget!

[Image]

________________________________
From: Michael Lis <swiss_lis@hotmail.com>
Sent: Sunday, 3 May 2020, 17:13
To: drinfernoo/plugin.program.autowidget
Subject: Re: [drinfernoo/plugin

[2020-05-03 17:34] drinfernoo commented on #17
I had thought that Skin Helper would hide them on widgets, too 🤔 Maybe @jurialmunkey can lend some insight?

[2020-05-04 04:05] drinfernoo opened #19 "[Enhancement] Allow "None" for Artwork"
This would allow the user to clear a specific piece of artwork, if they didn't want anything filled for that type.

[2020-05-04 04:06] drinfernoo opened #20 "[Enhancement] Easier Editing of Common Paths"
This would be an extension of the path editor dialog, intended to make adding "common" paths, like activating custom windows or running Kodi built-in commands, easier.

[2020-05-04 07:56] jurialmunkey commented on #17
I can't speak to Skin Helper - however, for TMDbHelper, the plugin needs to have the `&widget=True` param set in the `plugin://` url.
It checks the flag here:
https://github.com/jurialmunkey/plugin.video.themoviedb.helper/blob/master/resources/lib/container.py#L972

Is it possible that autowidget is stripping out this widget param?

The widget param is not set if `Window.IsMedia` is true -- basica

[2020-05-04 13:04] drinfernoo commented on #17
Yes, that's what I expected was probably happening...

The approach I have taken to showing different content in widgets is to make the `Window.IsMedia` check "at runtime", when the items are added, and simply skip them where applicable.

Would that approach be possible in TMDbHelper, given the proper changes? I don't know that it causes any issues, but would improve compatibility, at least with A

[2020-05-04 13:24] jurialmunkey commented on #17
Whether it is a widget can't be evaluated "at runtime" on load of the  container because then skinners have no control over whether an item is displayed as a widget or not.

For instance, if you have a TMDbHelper list inside the info dialog you will end up with different results depending on whether the info dialog was opened on the home screen (Window.IsMedia is false) or in the library (Window.I

[2020-05-04 14:21] drinfernoo commented on #17
Fair enough. I think the workaround, then, is to manually add the flag to an AutoWidget path, after the fact.

EDIT: I can confirm that with the correct path, watched items are hidden from TMDbHelper, which convinced me that this is simply a matter of add-on support for hosting watched items, and using the appropriate path in AutoWidget, unclear as that may be at times.

[2020-05-04 15:43] #17 closed, assigned to nobody

[2020-05-08 00:26] JayDee696969 opened #21 "Very small [Bug] lol"
Just a small typo that i found funny, maybe cause im drinking?  -Found it in this "wesssge" below, lol

![Screenshot_18](https://user-images.githubusercontent.com/45118866/81357233-12564700-90a1-11ea-8004-8196ddbc58dc.jpg)

[2020-05-12 02:56] #21 closed, assigned to nobody

[2020-05-15 23:39] drinfernoo opened #23 "[Bug] Append "reload" Parameter to Refreshed Paths"
Mostly as mentioned in the title. The parameter is already saved in the widget metadata, so it should be as simple as appending it the pre-final path, in order to have widgets reload according to Skin Shortcuts paradigm.

[2020-05-15 23:40] drinfernoo opened #24 "[Enhancement] Allow $INFO Tags in Labels"
Almost have this working, but it needs to pay a little closer attention for when the InfoLabel changes its value.

[2020-05-16 20:29] drinfernoo opened #25 "[Enhancement] Merged Paths"
This will be a different type of widget action, allowing to actually merge the content of multiple paths into a single widget.

[2020-05-16 23:24] drinfernoo opened #26 "[Enhancement] Set UUID as Container Property"
This will hopefully negate the need to have the UUID *in* the label for most cases.

[2020-05-17 21:19] dinkysniff opened #27 "[Request] Backup option for My Groups"
**Is your feature request related to a problem? Please describe.**
No, not related to a problem.

**Describe the solution you'd like**
An option to create a backup / restore for My Groups within the add-on. Useful for users that would like to copy their groups over multiple devices

**Describe alternatives you've considered**
Currently can replicate through a copy of the folder, and paste to secon

[2020-05-17 22:12] drinfernoo commented on #27
In doing this, I would allow to choose a backup location, which could be set as a network location. I'd also like this to include a restore function as well, which would function similarly.

The main issue I see with this is one of confusion, once people realize that backing up their groups won't back up the widgets they've set. Unfortunately, that's a bit too out of the scope of AutoWidget, I thi

[2020-05-17 23:02] dinkysniff commented on #27
Is it possible to have a pop up menu with a reminder that it won't back up user lists/feeds prior to backup?

[2020-05-18 01:23] drinfernoo commented on #27
Definitely. Having done it myself, dropping group files into an existing install works just fine, as long as all the paths are valid *in* that install (folders which require authorization, add-ons not installed, etc...). The only thing that won't get backed up easily are the actual widgets that are set in the skin at the time of backup.

[2020-05-18 02:17] drinfernoo opened #28 "[Enhancement] Subfolders"

[2020-05-18 02:19] drinfernoo opened #29 "[Enhancement] "Folding" Widgets"

[2020-05-18 04:50] drinfernoo commented on #23
In the move towards what will be 2.0, I may not need to do this.

[2020-05-18 21:06] #27 closed, assigned to nobody

[2020-05-19 00:36] Xaque8787 opened #30 "[Bug] widgets from single add-on crashes"
**Describe the bug**
Kodi crashes when selecting widget item if there a multiple sources from the same addon in autowidget folder.

**To Reproduce**

When adding sources from one add-on and using them as a home screen widget causes Kodi to crash. This issue also occures when setup using super favorites so it maybe a Kodi issue not add-on specific.

Example: using auto widget I created a folder tha

[2020-05-19 00:55] drinfernoo commented on #30
I'm actually thinking this would be an issue with the actual paths themselves, and how they're called. Is this a shortcut group? Can you get me a log file of the error? When you say "crash", do you mean an error inside Kodi, or Kodi closes completely?

I can confirm that the issue doesn't have to do with using one add-on per group, as I have many groups comprised of multiple paths from a single ad

[2020-05-19 01:07] Xaque8787 commented on #30
Kodi crashes with no error. The paths for the sources are not shortcuts, they are from the add-on (browser launcher). Everything works until I select an item from the widget on the home screen.

Created a multiple links to websites in browser launcher add-on. Added each link to autowidget group, called that group as widget from skin. Go-to homescreen, select item from said widget, Kodi then crashe

[2020-05-19 01:22] Xaque8787 commented on #30
Reproduced issue on different machine. Like you said maybe an issue with it being a shortcut group. I have no other option when creating a autowidget group to choose something other than shortcut. In the advanced setting when editing a group or source I can manually change that value, but I can't find any documentation on advanced setting commands.

Here is the crashlog and error log for issue.
[C

[2020-05-19 02:07] drinfernoo commented on #30
Can you also share the `streaming_services-1589843888.07.group` file from AutoWidget's addon_data folder?

[2020-05-19 02:16] Xaque8787 commented on #30
Here you go sir, and thank you for your time.
[streaming_services-1589843888.07.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/4647866/streaming_services-1589843888.07.zip)

[2020-05-21 01:31] drinfernoo commented on #30
@Xaque8787 Can you try the latest devrepo release?

[2020-05-21 02:25] #23 closed, assigned to drinfernoo

[2020-05-21 04:36] Xaque8787 commented on #30
Tested the dev repo and it is now working. You sir are a dedicated dev and I applaud your devotion. Got a patreon or way do donate? I'd like to buy you a beer.

[2020-05-21 04:45] drinfernoo commented on #30
In my case, "devotion" is more like "obsession" 😅

I don't, but that's ok. I appreciate it all the same 👍

[2020-05-21 04:45] #30 closed, assigned to nobody

[2020-05-21 15:37] drinfernoo commented on #17
@swisslis Future releases will now automatically append `&widget=True` to any path added from TMDbHelper. It won't affect paths you've already added, however.

[2020-05-29 17:25] drinfernoo opened #31 "[Enhancement/Bug] Find Solution for ListItem Properties"
https://forum.kodi.tv/showthread.php?tid=354817&pid=2953291#pid2953291

[2020-05-29 17:27] #26 closed, assigned to drinfernoo

[2020-05-30 03:53] jurialmunkey commented on #31
@drinfernoo Continuing our discussion from this issue: https://github.com/jurialmunkey/script.skinvariables/issues/4

Yeah I think any script calling a window/dialog is going to steal focus because ActivateWindow sets focus to default control in the window/dialog.

Also, `doModal()` is the opposite of what you want. I used to think the same that a modal dialog was just a dialog kept in a separate

[2020-05-30 04:07] jurialmunkey commented on #25
Ah, I see! This is why you're trying to retrieve the actual list item.

[2020-05-30 14:17] drinfernoo commented on #31
I thought that maybe `show()` would be the way to go in the end... but had never figured out how to make it wait.

I thought maybe something like in: https://github.com/drinfernoo/plugin.program.example/commit/d8106955c9dd5385ab0699228d2c6fa402a2b6ec, where I simply wait for the window property to be "recycled"... but in testing, this seems to not only block the UI until *all* of the windows have

[2020-06-23 07:50] Travion1976 opened #32 "Skin Shortcuts - Unable to save menu"
Tested on skin Arctic Zephyr 2 and also Aura Mod
Device: Tested on Mac Kodi 18.7 and also VMWareFusion Libreelec Kodi 18.7

When editing shortcuts -> configuring the widgets -> Choose widget -> AutoWidgets -> select and -> setting a label all these steps work fine.
When trying to change the Features under Widgets such as Widget Style, Content Type, Sort By, sort Direction
I run into the error "Ski

[2020-06-23 12:31] drinfernoo commented on #32
This happens because of a parsing error while processing the `skin.name.here.properties` file, causing the file to get written back incorrectly... and I had previously had quite a bit of trouble working around it.

Fortunately, I'm well on the way to a 2.0 release, which will fix this as well 👍

[2020-06-23 12:36] Travion1976 commented on #32
Thank you so much for you reply ! That sounds awesome that you have a fix on the way.
Is there anything I can do in the meantime or is the trouble not worth it ?
Thanks again for your hard work.
Best regards

[2020-06-23 12:43] drinfernoo commented on #32
**If** you feel like trying to fix the error manually inside the file, then you could, but it's a bit tricky, and will be different for every user.

EDIT: For what it's worth, when using a debug log, I believe Skin Shortcuts does give more information regarding this, but it's still not exactly straightforward to fix by hand.

[2020-06-23 12:52] Travion1976 commented on #32
Ok great , I will take a look at this file and see if I can figure something out. If this gets too complicated I will look forward to see your 2.0 release.

[2020-06-23 14:05] drinfernoo commented on #32
I decided to go ahead and recreate it so that I can give a bit of guidance for those that are running into this. For what it's worth, I believe this should only happen when using these in "non-standard" places, likes hubs or possibly in some skins' "spotlight" area.

So, I assigned an AutoWidget to a submenu hub widget in Arctic Zephyr 2, initialized the widget (also going to be a thing of the pas

[2020-06-23 14:46] Travion1976 commented on #32
Oh man, thank you so much for this help. I will take a look at it later on today and give feedback if this worked.

[2020-06-23 18:59] drinfernoo opened #33 "[Request] More Options for Path Management"
Namely, being able to easily copy or move paths from one group to another, and more efficiently rearrange paths within a group.

[2020-06-23 19:03] drinfernoo opened #34 "[Request] Let Exploded and Cloned Groups Update Automatically"
Basically, if a group consists of an exploded or cloned directory, let that group automatically update its paths with any items from the source path that have been added since the group was created.

[2020-06-23 19:35] drinfernoo commented on #34
https://www.reddit.com/r/addons4kodi/comments/fqsvp3/_/fv8c2yq

[2020-06-23 19:36] drinfernoo commented on #33
https://forum.kodi.tv/showthread.php?tid=352934&pid=2959099#pid2959099
https://forum.kodi.tv/showthread.php?tid=352934&pid=2955934#pid2955934

[2020-06-23 22:00] Travion1976 commented on #32
Correcting the line break definitely works. It only works once, so if you need to correct multiple widgets and menus, you need to go back again and correct that same line break after each change.
This is definitely a good work around. Thanks again !

[2020-06-27 01:33] drinfernoo commented on #31
Getting there: https://forum.kodi.tv/showthread.php?tid=355209&pid=2959827#pid2959827 😁

[2020-06-29 16:00] drinfernoo commented on #31
Even closer! https://github.com/xbmc/xbmc/pull/18106

[2020-07-04 17:58] drinfernoo commented on #33
I don't think I'll be adding the ability to copy shortcuts. Just add them to the proper group.

[2020-07-04 18:00] drinfernoo commented on #24
This unfortunately doesn't really work anymore, due to the way labeling has to be.

[2020-07-04 18:00] #24 closed, assigned to drinfernoo

[2020-07-04 22:18] drinfernoo opened #35 "[Enhancement] Choose Paths for Merged Widget"
Ideally at the time of creation.

[2020-07-08 12:11] skyfsza opened #36 "[Bug] Fanart doesn't display on certain widgets"
Fanart is blank on widgets when added from autowidget.

**To Reproduce**
1. Create group with folders from Netflix Addon
2. Add random path from group as a home widget
3. Check fanart background for movie/tv shows on the home widget (seems to apply only to movies/shows without fanart already in cache).

[2020-07-10 14:47] drinfernoo commented on #36
I cannot reproduce this with the current devrepo changes... I added three different paths into a group, and created two random widgets. I have what appears to be full artwork on them all, including `clearlogo` (but unfortunately not `clearart` 😅).

It does seem that the widget needs to actually *display* `fanart` first, from my initial testing. So, for example: I had widgets set to "show landscape

[2020-07-11 07:00] skyfsza commented on #36
My issue is related to fanart backdrop, not the artwork on the widget itself, so I dont see how the switch to "show landscape art" would have any effect (that simply tells the skin to use landscape instead of thumb/fanart on the widget).

The artwork url is correctly being added to the Infolabel, I can see the url in Devhelper, the issue seems to be Kodi does not load the fanart backdrop with auto

[2020-07-13 14:55] #36 closed, assigned to nobody

[2020-07-14 13:11] drinfernoo commented on #34
For cloned groups, I want these to be created as a static shortcut group, to be edited as the user sees fit.

For exploded groups, I think the best course will be to have two options: synced or not. If the group is "synced", then it'll pull paths fresh every time. If not, then it'll act as the current exploded groups do.

[2020-07-21 03:57] drinfernoo opened #37 "[Bug] Settings Shortcuts not Working"
Even more fun, it appears their definition is the same as a shortcut to the root.

[2020-07-23 04:13] #29 closed, assigned to drinfernoo

[2020-07-23 04:13] #19 closed, assigned to nobody

[2020-07-23 04:13] #33 closed, assigned to nobody

[2020-07-23 04:13] #35 closed, assigned to nobody

[2020-07-26 15:28] ivysashar opened #38 "Autowidget does not support Adding Movies in Bingie Skin 1.0.3"
I set up an autowidget group "Popular Movies" and added Popular Movies folders from Exodus and Seren.

After setting it up in Bingie as a widget with random recycling path, the images are shown in the home page. When I click on Play in the Movie page, instead of playing the movie, it brings me to an empty folder instead.

[2020-08-01 02:20] drinfernoo commented on #32
I was just reminded that I never closed this after 2.0 came out!

[2020-08-01 02:20] #32 closed, assigned to nobody

[2020-08-04 12:46] #31 closed, assigned to drinfernoo

[2020-08-04 12:47] #25 closed, assigned to drinfernoo

[2020-08-15 00:02] drinfernoo commented on #38
Do you still have this issue?

If so, can you send one of your group files? It sounds like you've made your groups in an unusual or unintended way...

[2020-08-15 00:03] drinfernoo opened #41 "[Feature Request] Allow to Set Content of Sections"
https://forum.kodi.tv/showthread.php?pid=2970071#pid2970071

[2020-08-15 00:04] drinfernoo opened #42 "[Enhancement] Direct Shortcut to Reinitialize Widget"
https://forum.kodi.tv/showthread.php?tid=352934&pid=2969704#pid2969704

[2020-08-15 00:06] drinfernoo opened #43 "[Bug] Wrong Filesize on AutoWidget Items"
https://forum.kodi.tv/showthread.php?tid=352934&pid=2963939#pid2963939

[2020-08-15 00:08] drinfernoo opened #44 "[Enhancement] Per-path Sorting"
This would let you set a preferred sorting on each path, so that sorting by 'default' in the skin, different paths can have different sortings.

[2020-08-15 00:10] drinfernoo opened #45 "[Enhancement] Per-widget Paging Options"
This *may* be something that's better accomplished as a per-path setting, but we'll cross that bridge when we come to it 😁

[2020-08-15 00:11] drinfernoo opened #46 "[Performance] Eliminate Unneeded Library Updates"
I think the best way to approach this is to try and detect overlapping update cycles, and cancel them. I'm not sure if that's possible.

[2020-08-15 00:13] drinfernoo opened #47 "[Enhancement] Consistent Sorting in Paged Widgets"
Particularly with widgets sorted by 'random', on page changes, the sorting changes. I'd like to avoid this.

[2020-08-15 03:19] sdstreams opened #48 "Launching Android apps from Shortcuts"
**Describe the bug**
When I save an android app to shortcuts it will not launch the app. Kodi Favourites can launch android apps installed outside of kodi. Would Autowidget soon have this capability?

**To Reproduce**
Program add-ons/back a directory/Android apps. Select any android app and add to autowidget. Shortcut then save to any folder.

**Expected behavior**
when selecting Android app saved

[2020-08-15 03:23] drinfernoo commented on #48
Ah, I actually thought this did work 😅 I've fixed it at least once before, but must have broken it again...

What happens when you try to launch it? Could you send the `.group` file containing the shortcut in question?

[2020-08-15 03:59] #48 closed, assigned to nobody

[2020-08-15 04:00] drinfernoo commented on #48
Actually, I've just fixed it! It was some backwards logic in my shortcut parsing 😁

[2020-08-15 04:09] sdstreams commented on #48
Awesome! thank you. I thought it might be my device. Loving the app. I tend to use it in place of super favs....autowidget more reliable.

[2020-08-15 04:37] drinfernoo commented on #48
@HenioH Honestly, that's great! My original ideas for AutoWidget didn't really have this in mind, but I think it's fair to say it's almost to the point we could replace SF all together 😅

[2020-08-15 19:32] drinfernoo commented on #42
With this change, a widget can be reset by using the plugin path:
[code]
And replacing `{id}` with the widget ID of the widget you'd like to reset, found either in the logs, userdata files, or widget editor dialog.

[2020-08-20 02:01] matth392 opened #49 "Live TV/Advanced Emulator Launcher Open Issue/Message"
Hi there, first off I want to say thanks so much for the plugin - I'm absolutely loving it with my Arctic Zephyr build; and apologies for opening an issue with very little detail as to what the issue actually is; I am more a less a newbie in terms of programming and also the inner workings of Kodi etc. though know a small amount of Python and a fair amount of fullstack.
However I managed to get Au

[2020-08-20 02:20] drinfernoo commented on #49
First of all, I'd recommend updating to the latest stable release: 2.3.4 at this time.

Aside from that, the most helpful thing you can provide are the corresponding `.group` files, found in `special://userdata/addon_data/plugin.program.autowidget/`. Those should tell me anything "relevant" I may need in order to figure out why they're not working for you anymore.

[2020-08-21 01:39] matth392 commented on #49
Hi there I'm really sorry for taking so long to respond I honestly didn't expect such a quick response and fell asleep;
here are the following group files - I am not sure what's actually going on with them honestly because looking at the files themselves though I did notice they're listing the group types as directories;

Once again thank you so much for helping - I really honestly appreciate it s

[2020-08-21 01:55] drinfernoo commented on #49
So, to be clear, widgets pointed to a cycling path from these groups... show items correctly, but when clicked they do nothing? Is there an error, or simply no effect at all?

[2020-08-21 01:59] matth392 commented on #49
Yeah that's pretty much bang on what's happening - particularly with the games which is quite strange as it was cycling quite happily two days ago with no problems launching or anything like that - I have tried using a static widget to launch each of the various pathway's and they've launched quite happily; no error message has been logged or anything like that either.

[2020-08-21 02:09] drinfernoo commented on #49
@matth392 Have the groups that you sent me been created *since* the time when they worked? It appears those were created using version 2.3.4, but I'm not sure in which version they were working before.

EDIT: For what it's worth, it's unlikely that cycling vs. static has any beating in the situation. Most likely, it has to do with the logic AW uses to decide how to call the path of the item you cl

[2020-08-21 02:10] matth392 commented on #49
I did recreate the groups yeah; I was actually following your labelling tutorial and figured it would be best to start from scratch! XD

[2020-08-21 02:15] drinfernoo commented on #49
@matth392 Any idea on which version they *did* work? I suspect my only course will be to learn how to set up AEL finally so I can do my own testing 😅

[2020-08-21 02:20] matth392 commented on #49
One thing that did occur to me as the autosub addon is throwing up an error stating that it can't find a video file; which would suggest that Autowidget is seeing the Roms/Steam Links as video files instead of executables. it was version 2.32 I think; Unfortunately the whole thing just went bang and seems to have disappeared entirely - I am going to reboot and see what's happened  :)

[2020-08-21 02:30] matth392 commented on #49
So interesting thing - I have rebooted and reinstalled the addon on a basic cycling path for games again - when I try and launch an emulated game it actually directs me to the video folder that the game's in - for steam it just cycles;
![image](https://user-images.githubusercontent.com/64239430/90845749-9ab1dc80-e35e-11ea-97f9-f4a932bed7ec.png)

[2020-08-21 03:02] drinfernoo commented on #49
@matth392 Would you be able to send me an AutoWidget debug log from the latest devrepo release? The release to test is currently 0.0.1039 from the devrepo.

You'll need to enable "Debug Logging" in AutoWidget's settings, and then a file will be generated at `special://userdata/addon_data/plugin.program.autowidget/aw_debug.log`. I've added a few more log statements that should help me narrow down w

[2020-08-22 01:04] matth392 commented on #49
Once again apologies - as I fell asleep however I have just reset Autowidget once again and it's actually produced an error log this time :) However it wasn't actually an Autowidget error log but the main kodi debug log  I've included it but looking at it  - it doesn't seem to recognise the file types
[kodi.log](https://github.com/drinfernoo/plugin.program.autowidget/files/5111776/kodi.log)

[2020-08-22 01:06] matth392 commented on #49
I am so sorry I feel like a complete ,moron I completely misread the part aboput the dev release - I will do that immediately :/

[2020-08-22 01:20] matth392 commented on #49
[aw_debug.log](https://github.com/drinfernoo/plugin.program.autowidget/files/5111784/aw_debug.log)
Here's the Debug Log :) Thank you again for so patient with me when I'm being such a plonker :)

[2020-08-22 01:42] drinfernoo commented on #49
Yeah, I'm afraid I'll have to set one up and see for myself. It seems like everything in your log is as expected 🤔

[2020-08-22 02:32] matth392 commented on #49
Ah, that ain't great :( Honestly its not that much of an issue for me with everything  - more that it was just a nice convenience and I really honestly do appreciate the help you've given me a huge amount. As I said initially I know bits and pieces of Python and am trying to learn it between work and life in general - I'll continue to read up and see if it comes to anything; If there's anything el

[2020-08-29 18:36] #42 closed, assigned to drinfernoo

[2020-08-30 23:35] ComradeSerg opened #50 "Unicode support?"
Does the autowidget support unicode? I can create group with Cyrillic label, but I can't browse such groups because of error. If I'll change label back to English I then can browse it again.

[2020-08-30 23:36] drinfernoo commented on #50
Ahh, I'd love to support that! I've done my best to catch Unicode errors wherever possible, but if you'll shoot me a log, I should be able to fix it 👍

[2020-08-31 09:20] ComradeSerg commented on #50
Dude, that was just a question. I thought the creator of the addon could answer whether his product supports unicode without logs. I didn't ask to fix the bug, because I didn't know if it was a bug or it was simply not supported. But if it is impossible to find out without logs, then here they are (I suspect that what interests you is on 2020-08-31 12:00:48.100 T:1322488704):

[kodi_logs.zip](http

[2020-08-31 12:25] drinfernoo commented on #50
Yes, my addon supports Unicode everywhere possible, except it appears I must've missed a spot 😅 I'll get on it soon 👍

[2020-09-05 19:26] ghost opened #51 "[Bug]"
**Describe the bug**
ERROR Getting Plugin://plugin.program.autowidget/?action=static&group=movies...
Autowidget Error, Check Log for more information.

It may be a bug, or an error. Tried to find a solution but none seems to work. Followed drindernoo's Autowidget video of how to create AutoWidgets: https://www.youtube.com/watch?v=lA67gDeaa98

Error keeps appearing when creating a (Random, Static P

[2020-09-05 19:29] drinfernoo commented on #51
I'd need to see the error, from your log file.

[2020-09-05 19:32] #38 closed, assigned to nobody

[2020-09-05 19:56] ghost commented on #51
https://imgur.com/gallery/UVqp6rx There you go.

[2020-09-06 00:20] drinfernoo commented on #51
It appears you're using a group file from a legacy (1.x) version of AutoWidget...

You could send `special://userdata/addon_data/plugin.program.autowidget/movies-1599334763.45.group` to verify, but I'm fairly certain this is an instance where you just need new group files.

[2020-09-06 02:20] ghost commented on #51
Could you please guide me through it? I am using the 2.3.6 version of Autowidget. When you refer to have a new group file, do you mean a widget group? Thanks

[2020-09-06 02:41] drinfernoo commented on #51
Did you use AutoWidget prior to 2.3.6? Or is this a fresh install?

The error you're getting looks like a missing key in the path definition for an item... specifically 'art'. Are you trying to add paths to your group that have **no** art to display? Either way, this should never happen, so I'm suspicious of "malformed" group files of some kind.

[2020-09-06 02:47] ghost commented on #51
Its a fresh install from your repo

[2020-09-06 02:48] ghost commented on #51
No, I am trying to just have an autowidget with genres, countries... as you showed in the yt video

[2020-09-06 02:50] ghost commented on #51
All based on my own movie library. I was just following you video of how to set up the add-on and I got stuck as it was not showing me to initialize the widget

In addition, I've already uninstall and install autowidget just to see if that would fix it, however no green signs at all :(

[2020-09-06 03:16] drinfernoo commented on #51
So, for one thing, that video is outdated, referring instead to the 1.x versions. You'll want this video instead if you need guidance with setting up the add-on: https://youtu.be/X3HSxTYPrzA

I suppose to try and troubleshoot, I need two things: your `kodi.log` file (not screenshots, but a pastebin or something is fine), and a zipped copy of the folder at `special://userdata/addon_data/plugin.prog

[2020-09-06 03:23] NicksonStreet commented on #51
The message you just sent through is gone! Idk why :/. I am watching the updated yt video tho. So... I read that you need the kodi.log file? and the special://userdata/addon_data/plugin.program.autowidget/movies-1599334763.45.group. Am I correct? Could you please tell me where I can find those files so I can send it to you for troubleshooting. I am going to restart from scratch the autowidget and

[2020-09-06 03:40] ghost commented on #51
Here are the userdata/addon_data/plugin.program.autowidget files:

[b6df83bb-186d-48df-92f6-7d471e161ded.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/5179039/b6df83bb-186d-48df-92f6-7d471e161ded.zip)
[movies-1599360291.28.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/5179040/movies-1599360291.28.zip)

Here is kodi.log
[kodi.log](https://github.com/drinfer

[2020-09-06 04:37] drinfernoo commented on #51
Both your `.group` and `.widget` look fine, and both of them contain the appropriate keys, including the one which you initially showed an error from...

But the `.log` file you included doesn't contain any errors 🤔

[2020-09-06 04:45] ghost commented on #51
I was just messing around with everything of the autowidget and I figured that if I add sub menu like: Genre or so, where the there is no thumbnails it will not function. I just added the recently added menu and it worked just fine,  also I included Sets and it is working as well. But when I want to cycle perhaps genre and countries it shows the error. I saw it on the outdated video but on the rec

[2020-09-11 14:09] #51 closed, assigned to nobody

[2020-09-15 17:55] drinfernoo commented on #50
@ComradeSerg Could you test version 0.0.1059 from the devrepo? I tested it against a few different situations, but would like confirmation before I merge the fix.

[2020-09-16 15:44] ComradeSerg commented on #50
Indeed, the mistakes are gone. At least in the place where I noticed them.
And quick question if you don't mind: is it possible to somehow add the built-in RSS used by the kodi? Unfortunately, when you click on the running RSS line, there is no menu to use AutoWidget, but can this be done manually somehow?

[2020-09-16 17:40] drinfernoo commented on #50
@ComradeSerg Good, I'll merge these fixes soon.

Regarding RSS... I don't even know how I would? Is there a manu somewhere where you can see individual items from the feed?

[2020-09-16 18:25] ComradeSerg commented on #50
Not sure about menu, but in some skins I saw some manipulation with RSS (changing position, fonts, etc). But it was a quick question, if you don't know, it's okay

[2020-09-16 18:28] #50 closed, assigned to nobody

[2020-10-09 07:06] djay opened #53 "[Request] slow to refresh widgets on kodi start (delay refresh on startup)"
# Problem
If you have more than a few plugin based widgets refreshing can take a long time, esp on lower end hardware. Often the lists don't change that much so an outdated list might be fine temporarily. Some low end systems like android kill kodi in the background make restarts frequent and waiting for widgets to reload is annoying

# Solutions
- retain the cached widget data instead of cleaning

[2020-10-09 13:55] drinfernoo commented on #53
Unfortunately, there isn't much I can do here.

AutoWidget does no caching of its own, so any increases in caching performance would need to be handled in the "source" add-on.

Widgets already wait until new content has loaded before they change.

Delaying the refresh is definitely possible, and something I should probably be doing anyways.

Different widgets can be *set* to refresh at different r

[2020-10-14 03:10] djay commented on #53
@drinfernoo I had a quick go at getting autowidget to cache the files in https://github.com/drinfernoo/plugin.program.autowidget/pull/55. Do you see any problems with this general approach?

[2020-10-18 18:08] ComradeSerg opened #56 "[Bug]"
Hi buddy. I already logged this unicode display issue and you fixed it. I recently reinstalled Kodi, installed Autowidget and was surprised to find the issue returned - I can create Autowidget Group in unicode, but can't use it.  I also checked the dev repository but there the same issue. I don't understand what has changed. I am attaching a debug log, you can notice issue starting on line 846, 11

[2020-10-21 02:36] #56 closed, assigned to nobody

[2020-10-21 02:36] drinfernoo commented on #56
That error should be fixed as of `0.0.1059`, as mentioned in the previous issue you opened. This log shows that you have `2.3.6` installed, which was the version when you opened the first issue, before I made any fixes. I've merged the fixes in as `2.3.7`.

[2020-10-24 19:35] ComradeSerg commented on #56
Understood, but why you prod repository offers only version 2.3.6? 2.3.7 is not released yet?

[2020-10-25 13:20] drinfernoo commented on #56
Whoops, I pushed to GitHub but not to the repo 🤦 All fixed now.

[2020-10-31 17:41] RandomGithubUsername opened #58 "[Bug] Errors in logs, likely also crashing Kodi"
**Describe the bug**
Seeing these errors/exceptions in Kodi logs.

`2020-10-31 10:39:09.578 T:12775   ERROR: Exception in thread Thread-1:
                                            Traceback (most recent call last):
                                              File "/home/jenkins/workspace/Android-ARM64-Leia/tools/depends/xbmc-depends/aarch64-linux-android-21-release/lib/python2.7/threading.py"

[2020-10-31 18:04] drinfernoo commented on #58
@djay, would you mind taking a quick look here?

[2020-11-01 00:35] unkn0wn234 opened #59 "Auto widget 3.0.0 error when trying to add anything to group"
https://paste.ubuntu.com/p/kR27pnns7S/

[2020-11-01 00:38] drinfernoo commented on #59
I see the error. Will fix soon.

[2020-11-01 03:47] #59 closed, assigned to nobody

[2020-11-01 03:48] drinfernoo commented on #53
I think we can close this one now 👌

[2020-11-01 03:48] #53 closed, assigned to nobody

[2020-11-01 09:57] djay commented on #58
@drinfernoo ok. without knowing the widget being used it would be hard to reproduce. I'll look at the code and see if there is anyway a path can be a list. if you have any hints on how that can be, that would be helpful.

[2020-11-01 14:27] #58 closed, assigned to nobody

[2020-11-01 14:27] drinfernoo commented on #58
Should be fixed in `3.0.2`.

[2020-11-02 20:22] RandomGithubUsername commented on #58
This did not fix the issue. It even crashes Kodi. I have rolled back to version 2.x for now and disabled auto updates and its all good now.

[2020-11-02 21:53] drinfernoo commented on #58
Can you provide a full log?

[2020-11-03 02:00] djay commented on #53
@drinfernoo this isn't working to reduce startup times as much on my firestick as I'd hoped. Might need to reopen this.

I think whats happening is too many processes are being started at the same time and the new implementation with threads is not improving that. I suspect that the skinhelper is opening an autowidget process to update each widget and then each of those processes is creating a bac

[2020-11-03 03:12] drinfernoo commented on #53
To be honest, this is essentially the biggest reason I had never gone after this before. In my opinion, it's best to have the *least* amount of background services as possible, but in most Kodi setups I've encountered, there are already a handful going *before any add-ons are even installed*. Kodi is unfortunately quite badly optimized for multiple threads, multiple processes, or really multiple o

[2020-11-03 03:49] djay commented on #53
@drinfernoo thats great news that its speeding up some systems (just not mine :( )
For testing what I'll do is resurrect my RP3. That will really test slow and is easy to to deploy dev code :)

if skin helper is dead then what are skins using to load manage? I realised development seemed dead which is another reason I didn't try and contribute to it, but didn't realise skins are switching to somet

[2020-11-03 05:28] drinfernoo commented on #53
@djay For what it's worth, AuraMOD also hasn't been updated in quite some time.

A lot of skins still use Skin Helper (even ones that do still get updated), but that addon itself hasn't been updated significantly in almost a year (or more?), if I'm not mistaken.

An example of a skin that *doesn't* use Skin Helper is Arctic Horizon. It uses TMDbHelper for (I think) all of the features Skin Helper

[2020-11-03 17:38] djay commented on #53
@drinfernoo I've put disk queue idea into https://github.com/drinfernoo/plugin.program.autowidget/pull/60

[2020-11-17 00:05] RandomGithubUsername opened #63 "Errors in logs"
2020-11-16 16:02:13.535 T:13476  NOTICE: plugin.program.autowidget: Queue cache update for: aedfa7dc8bb713ba193af604ed8223934f383d24
2020-11-16 16:02:13.800 T:13483  NOTICE: plugin.program.autowidget: Wrote cache (exp in 299.795656919s): 48428d1ef29820c97c60924290e673541a69f97d
2020-11-16 16:02:14.055 T:13478  NOTICE: plugin.program.autowidget: [ action: merged ][ group: recently_added-1602388236.

[2020-11-17 00:06] drinfernoo commented on #63
Can you please post a full log?

[2020-11-17 00:07] RandomGithubUsername commented on #63
2020-11-16 16:01:56.176 T:13375  NOTICE: plugin.program.autowidget: [ action: merged ][ group: recommendations-1602394726.31 ][ mode: path ][ id: 0f454d9e-0849-458b-997c-f4247308d304 ]
2020-11-16 16:01:56.176 T:13141  NOTICE: script.tv.show.next.aired --> Retrieving next airing episodes for all continuing Kodi tv shows...
2020-11-16 16:01:56.618 T:13375  NOTICE: plugin.program.autowidget: Read cac

[2020-11-17 00:13] drinfernoo commented on #63
Could you please post a full log? 🤦🏽‍♂️

[2020-11-17 02:36] djay commented on #63
@drinfernoo fixed in that latest PR. no longer uses threading.

[2020-11-26 18:50] ComradeSerg opened #64 "[Bug] Unicode issue in translation file when trying to edit group"
Hi buddy,
Last time you fixed a bug with unicode and now everything is fine. But I noticed a file with translation and wanted to create my own. And everything
[kodi.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/5604612/kodi.zip)
is ok with the exception of one point - when I try to edit a group - I get a unicode error. I checked if there is such an error with your file (resour

[2020-11-26 18:52] ComradeSerg commented on #64
Oops, logs inserted in wrong place :)

[2020-11-26 18:52] drinfernoo commented on #64
I see the issue, and will try to fix it soon.

[2020-11-27 07:34] djay opened #65 "[Request] Easy to forget how it works"
For people new to autowidget or those that haven't used it in awhile, it can be hard to work out how to use it.
The first thing you do is either open the plugin or the plugin settings and neither of these tell you how to add groups via context menu inside other apps, or how to get groups in your skin. or what a group is

# Options
1. [x] Instructions in readme?
2. [ ]  Instructions in settings?
3.

[2020-11-27 09:22] djay opened #66 "[Request] Path names require too much editing when adding as widgets to a skin"
When you add a widget, its suggested name comes from the menu item name. With autowidget the names end up something like "Cycling Path from Recently Added". That doesn't look so good in my skins so I need to edit it. On a PC thats pretty painless. On a Smart TV with a remote that's a pain. When adding many widgets its really painful.

If it instead said "Recently added (cycled)" then it's a better

[2020-11-27 12:55] drinfernoo commented on #66
Good feedback, I'll take them into consideration 👍

[2020-11-28 00:55] drinfernoo commented on #65
I think you're probably totally right... And to be honest, I thought I had a lot more documentation around than I realize I do 😅

Regarding the readme, I think that's a totally reasonable place for many people to get instructions, but it's also not a place that's very visible to Kodi users who don't *also* use GitHub.

Instructions in settings isn't impossible, but would likely only take the form

[2020-11-28 06:25] djay commented on #65
I think of those options putting in a fake menu item to tell people how it
works I think might work the best. When clicked it could also give a more
full discription?
Totally agree using only context menu makes the tool easier. It's just hard
to work out.
So a "hey it's not here, look over here instead" ?

On Sat, 28 Nov 2020, 07:55 drinfernoo, <notifications@github.com> wrote:

[2020-11-28 10:13] djay commented on #65
@drinfernoo I put some instructions in the readme in #67 but don't know enough about creating menu items to attempt the 4th suggestion

[2020-11-30 21:59] drinfernoo commented on #64
@ComradeSerg Could you try the latest devrepo release? It should be 0.0.1089.

[2020-12-01 22:13] ComradeSerg commented on #64
Just installed 0.0.1089 (3.2) from dev. What is strange, right after installation I see version - 0.0.1089, but if I'll open AutoWidget second time I see only version 3.2. And issue still persist, logs attached.

[kodi.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/5625742/kodi.zip)

[2020-12-01 22:24] drinfernoo commented on #64
@ComradeSerg I'm not sure what you mean by "3.2". There has not been a 3.2 version of this addon.

My guess is that you have auto-updates turned on, so that it is automatically updating to the latest version instead of the devrepo version, and have misquoted the version you're seeing.

[2020-12-02 19:49] ComradeSerg commented on #64
Sorry, my misatke, I was confused with version because when I selected AutoWidget from dev repository, by default before installation it shows version 0.0.1089 (probably latest), but after click on it - pop up appears with first offered version is 3.0.2 and I installed 3.0.2. Now I found if I'll scroll down I can find 0.0.1089, and I installed 0.0.1089. Also I turned off auto update as you offered

[2020-12-02 21:26] drinfernoo commented on #64
Can you send the `.group` file for the group you're trying to manage?

[2020-12-02 21:41] ComradeSerg commented on #64
It's youtube channel

[-1606938207.11.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/5632217/-1606938207.11.zip)

[2020-12-03 03:46] #46 closed, assigned to nobody

[2020-12-03 18:47] drinfernoo commented on #64
Can you try the latest devrepo build?

[2020-12-03 19:06] ComradeSerg commented on #64
Well done! This time I'm able to invoke edit menu.

[2020-12-03 19:50] drinfernoo commented on #64
Great 👍 This will end up getting merged as part of 3.1.0, later this week.

[2020-12-04 22:17] ComradeSerg commented on #64
Cool, will wait for next release.

[2020-12-04 22:17] #64 closed, assigned to nobody

[2021-01-06 06:32] rizreflects opened #70 "[Bug] Refreshing widgets"
**Describe the bug**

I'm not entirely sure if this is a bug but it's been happening ever since I installed the add-on. Basically, I have 5 autowidgets set to pull links from my Trakt liked list. The problem is, when I refresh the widgets, 80% of the time I will lose one widget. If I refresh again, I will lose another widget putting me down to 3. The only way to get all 5 widgets back is to restar

[2021-01-06 07:11] djay commented on #70
The problem is likely because an exception is happening. Whats your complete log look like?

[2021-01-06 17:12] rizreflects commented on #70
Thank you for your response djay. Here is my log.

https://paste.kodi.tv/firazuzuju

I started Kodi, and on the third refresh I lost 2 widgets. I uploaded the log file straight after that.

[2021-01-07 03:20] djay commented on #70
No exceptions. Bit strange there is a lot of missing cache files. did you clear the cache before running?
Which widgets are you losing?

[2021-01-07 15:04] rizreflects commented on #70
I've not cleared the cache once since installing Kodi on this computer. In terms of the widgets, it just happens at random to any of the 5 widgets placed on my homepage. Sometimes it's the top one, other times it's the bottom one. Completely random. The same thing happened when I installed autowidget onto my friends Kodi. His widgets would also disappear in the same way so I assumed it was a commo

[2021-01-08 04:04] djay commented on #70
I suspect what is happening is you have a group with a lot of paths in it. For some reason your skin is refreshing it over and over and that is causing the many requests to TMDB helper and therefore to trakt. Trakt brought in stricter api limits late last year which means that if your rate of requests is too high it will start rejecting some so the path errors. then the error gets passed back to t

[2021-01-10 23:11] muenzerr opened #71 "Some Groups fail to load and disappear"
I am setting up a media center from a collection of sources. I added now a bunch of documentaries as several groups (called "Dokus 0" - "Dokus 7"). However some of these groups (for example "Dokus 3") often fail to load and disappear from the screen.

I attached the log. I think lines 1827 ff. and line 1846 may give a hint what's wrong.

Link to the log:
https://paste.kodi.tv/acivexeguy.kodi

[2021-01-11 02:51] djay commented on #71
The exception is

[code]
so I guess the code needs to make less assumptions about whats available?

[2021-01-11 13:44] drinfernoo commented on #71
This is an issue of using old (1.x) groups with versions greater than 2.0. Recreate your groups.

[2021-01-11 13:44] #71 closed, assigned to nobody

[2021-01-11 17:51] muenzerr commented on #71
I will try that. But i am 100% sure I created the Groups with the newest version, so there must be another reason than what you suggest.

[2021-01-13 15:28] rizreflects commented on #70
Thanks for you help djay. I have over 160 liked lists so refreshing may take a while lol. It's not too bad anyway.. I'll happily live with it. Keep up the great work.. it's appreciated.

[2021-01-15 23:02] Ramalama2 opened #72 "[Bug] Python Errors, Active-Widgets Menu not accessible."
Hi Guys xD
FYI: I grab with autowidget from: xStream, Amazon Vod, Netflix, Filmix, WRP-Metaplayer
What i grab: From them all categories that i combine, like: New Movies, Popular Movies, New Series, Sci-Fi, Blockbuster, etc...
And im using the AuraMod Skin to show all the widgets. I'm using only the "Merging" View for all widgets!
Autowidget should refresh every 2h...

Now the Bug:

**Describe the

[2021-01-16 19:01] drinfernoo commented on #72
Can you test 0.0.1113 from the devrepo? I may have fixed it there.

[2021-01-16 20:05] Ramalama2 commented on #72
Thanks for the fast reply.
One one shield, i have simply deleted *.cache, *.history, *.widged files and linked again in the skin 😂
That fixed the issue.

On the other shield (all same, like a clone), i tryed 0.1113 (the active widgets menu still throws error) 🙈
I guess, i will simply do the same as on shield1 and im good 😂
But i will wait for your okay, if you want to test something, here is the l

[2021-01-16 22:27] drinfernoo commented on #72
Are you saying that when Kodi loads, it asks you to choose your merged paths again... every time? For every widget?

Because that would be a bug that deserves its own issue.

I do like the idea of an "All/Popup", but currently the design is such that if there are less than five paths in a group, they will all be selected. I'd prefer to keep this type of logic... potentially with the option to chan

[2021-01-17 10:58] Ramalama2 commented on #72
I open then a separate "request/bug" for that.
It does ask me every time, if i delete the *.widget/*.history/*.cache files inside the userdata autowidgets plugins folder.
Only one group has 5 sources, all other groups have less as 5. It even asks me, if there is only one source 😂

Very rarely, it opens a window to select sources, if i start kodi and didn't deleted anything...
What i think is, that

[2021-01-17 13:23] Ramalama2 commented on #72
I found out what exactly cause the error.

If i make a group that is called "Zuletzt Hinzugefügt"
---> ü

And load it in the skin to make it "active", it will break the addon.
Then you can't enter active widgets anymore etc...

I have deleted "Zuletzt Hinzugefügt" in My Groups, made a "Zuletzt Hinzugefuegt" Group and "Active Widgets" works instantly again.

So we have a workaround at least, don't

[2021-01-17 14:12] drinfernoo commented on #72
Yeah, the issue is with Unicode characters, and it seems I'm always missing *somewhere* in the code to handle them properly. I'll get it eventually 😅

[2021-01-17 20:22] Ramalama2 commented on #72
Just make a stupid wiki entry, to not use special characters, like ü/ä/ü/ß/ëé, or only use normal characters like a-z,A-Z,0-9, etc... For group names 😂

Who the hell needs it, we can name the widgets in the skin with all the special characters 😂

Soon as you will need to rewrite the scripts for python 3, it will probably gets fixed by itself 😂

[2021-01-18 15:40] ngpsherwood opened #73 "[Bug] widget not moved along"
Hello I love this addon but I make a widget on my front screen and I love that widget long difference between posters automatically but I make a shortcuts widget below  posters widget  and it's stop automatically  long

Its a bug or something

Thanks you

[2021-01-18 15:42] drinfernoo commented on #73
I'm sorry, but you'll have to explain in more detail.

[2021-01-18 15:53] ngpsherwood commented on #73
I'm sorry for my bad English

I got a widget on my home screen and it's automatically moving along between every 1 minutes but if I add more widgets on home screen and it's stop automatically long

[2021-01-18 16:15] drinfernoo commented on #73
I still don't know exactly what you mean, but what skin are you using?

To me this sounds like you're saying that the skin you use "rotates" through widget items periodically, but if that's not working, it would be a skin issue.

[2021-01-18 16:24] ngpsherwood commented on #73
I use arctic horizon skin and if I use 1 widget on home screen  and its rotation  through widget but if I put 2 or more widget on homepage and it's not rotation anymore
I hope its making sense then last comments

[2021-01-18 16:29] drinfernoo commented on #73
That is a skin issue, then.

[2021-01-18 16:30] #73 closed, assigned to nobody

[2021-01-18 19:17] #72 closed, assigned to nobody

[2021-01-22 06:10] djay commented on #70
so all of those liked lists are put into one group?
I think that might change my strategy for doing thinks like refreshing everything when you finish playing something. Updating everything is going to take forever. I might have to put some kind of cutoff based on the the chance of it changing after playback. Or don't update paths that were never seen since startup?

[2021-01-22 06:18] djay opened #74 "[Request] Confusing when background updates are happening"
**Is your feature request related to a problem? Please describe.**
There are times when a background update of a path is happening. When something stops playing. When you reload a skin. on startup. when you click next page. If you are waiting for it it's hard to know when its done or not. esp since updates to the widget could come from other places like the skin and they would reload an old copy o

[2021-01-22 07:08] djay opened #75 "[Request] Some requested widget updates don't happen due to min 5min cache"
**Is your feature request related to a problem? Please describe.**
If someone updates a path and then does a skin reload it will do a background update of the widget. If they do that again within 5min it won't do a background update because there is a mechanism to prevent looping updates then refreshes in the widget which is why 5min cache was put in

**Describe the solution you'd like**
Replace t

[2021-01-22 12:17] rizreflects commented on #70
Yes. So it's about 160 lists in one group, all set at random. It is also worth noting that the same thing happens when using tmdbhelper's 'randomised' section. The command 'RunPlugin("plugin://plugin.program.autowidget/?mode=force")' also works for tmdbhelper to refresh widgets, but the same problem persists. Widgets disappear after a manual refresh. I have however noticed that tmdbhelper refreshe

[2021-01-27 22:44] borisantelo opened #77 "[Bug] TMDB could not find item error message clicking extendend info in a TV widget"
**Describe the bug**
Using Auramod skin in a TV related widget (with an autowidget path obviously) clicking on item from the list and choosing extended info appears the message TMDB could not find item, this doesn't happen with a movie widget neither with a TV widget with a path from another addon.

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to an item from a TV list windget
2.  Clic

[2021-01-27 22:53] drinfernoo commented on #77
I'll need a debug log before I can diagnose any further.

[2021-01-27 23:37] borisantelo commented on #77
Sorry. This is the log https://paste.kodi.tv/acixukomup
It´s about the request of extended info for the TV series The good place
Thanks

[2021-01-30 06:05] drinfernoo commented on #77
I'm relatively certain that is because you're using OpenInfo, which has almost always had this issue... Not an AutoWidget issue.

[2021-01-30 06:05] #77 closed

[2021-02-05 23:25] drinfernoo commented on #66
I think this should be safe to close now 😁

[2021-02-05 23:25] #66 closed, assigned to nobody

[2021-02-05 23:27] #63 closed, assigned to nobody

[2021-02-05 23:29] drinfernoo opened #78 "[Enhancement] Duplicate Groups"
I'd like to see the ability to copy an entire group, with a dialog similar to merged widgets, so you can copy only some of the paths if so desired.

It would also be great to copy paths from one group to another.

[2021-02-05 23:33] drinfernoo opened #79 "[Enhancement] Let Cycling Widgets Pull from a Subset of Paths"
This would allow for choosing a subset of paths in a group, whenever a cycling widget is initialized (similar to a static widget), so that one large group can be used for various widgets.

This would likely have to serialize the paths (probably by ID) into the `.widget` file, which would then be referenced in the refreshing process, rather than the `.group`.

[2021-02-06 12:54] drinfernoo commented on #49
I'm pretty sure this has been fixed and we forgot to close the issue 👍

[2021-02-06 12:54] #49 closed, assigned to nobody

[2021-02-10 18:12] djay commented on #70
This PR should help solve your problem - https://github.com/drinfernoo/plugin.program.autowidget/pull/76

[2021-02-11 02:54] djay commented on #74
fixed in #76
It shows not cached content as loading.
It doesn't really solve the problem where someone initiates a deliberate action to refresh.
It doesn't really show errors well.

[2021-02-12 21:21] rizreflects opened #80 "[Enhancement] Sort Lists"
When adding a trakt list as a widget through TMDB Helper, it gives you an option to order the list in anyway you want. So for example, I can set it to show movies from newest-to-oldest. This comes in handy for certain trakt lists that are ordered from A-Z or oldest-to-newest. However, I don't think this is currently doable using Autowidget. Would it be possible to add this feature? It would be nic

[2021-02-12 21:54] drinfernoo commented on #80
I have an issue open for implementing this functionality in AutoWidget, but it will work a bit differently from the built-in feature of TMDbHelper.

Essentially, you will be able to edit it via the editor dialog in AutoWidget, as you described, rather than when pointing the widget like TMDbHelper does.

[2021-02-12 22:43] jmh2002 commented on #80
That's awesome that you will be adding this, as I was just about to raise it again on the forum thread and ask if you could implement the TMDBH method too instead of rely on the skin for this.

Via the AW dialog should be fine too - in fact better, because I some AW's which I view directly as a list.

THANKS, I'm REALLY looking forward to this, since it's been limiting my use of merged sources whi

[2021-02-12 23:06] drinfernoo commented on #80
Ah, I guess the issue I have open is regarding paged widgets. I do want to allow this to work, but it will take some work to pull it off, I think.

[2021-02-12 23:23] jmh2002 commented on #80
Well there are a few different 'sorting' related issues open, per path, paged, etc. Hope you are able to resolve them, but at a basic level sorting a list in general seems necessary when adding more than one source.

[2021-02-12 23:26] jmh2002 commented on #41
Any progress on this issue from way back in August last year? I switched to a new skin recently (Madnox) and the necessary view isn't available for Auto Widget items because, I suppose, content isn't being set correctly?

In this case they are YouTube videos. If I view the same items in YouTube I can change the Skin View. But once they are brought into an AutoWidget list and merged, I can't.

[2021-02-13 05:36] drinfernoo commented on #80
@jmh2002 I agree. I intend to work on it at some point. Please hold for updates.

[2021-02-13 05:37] drinfernoo commented on #41
There have been no updates on this issue, no. It should be relatively obvious, as the issue is still open, and there have been no comments.

[2021-02-13 06:46] jmh2002 commented on #80
Thank you, most appreciated :)

[2021-02-13 06:47] jmh2002 commented on #41
Thanks, I just wanted to make sure that I hadn't missed something since this issue appeared to become apparent after changing skins. Looking forward to updates in due course :)

[2021-02-13 16:50] rizreflects commented on #80
@drinfernoo Great news. I'll be looking forward to the update. Thanks for all your work.

[2021-02-13 17:51] rizreflects opened #81 "[Bug] Images of cast members won't display"
I use the Arctic Horizon skin. When clicking movie info and then pressing down, it displays pictures of cast members. The image below explains what I mean. This widget was directly through seren.

![serencast-min](https://user-images.githubusercontent.com/76912707/107856884-31011f80-6e23-11eb-8828-cf60ba5a132c.PNG)

But when using Autowidget, for some reason the pictures never get displayed. See b

[2021-02-13 18:01] drinfernoo commented on #81
This is because cast and crew are attached to the items as ListItem properties (by design), which are not passed through to AutoWidget properly, due to limitations Kodi's JSON-RPC API in version pre-Matrix. In Matrix, this has been resolved, but they will not show properly in Leia. It simply cannot be done.

[2021-02-20 18:01] rizreflects opened #82 "[Bug] Autowidget shows error message when adding a widget"
**Describe the bug**
If I add a widget from 'my groups' an error message pops up. I have tested it with static, cycling and merged widgets, they all return with an error message.

**To Reproduce**
-Add a few lists to your autowidget group.
-Set it as a widget. (In my case I picked cycling then random).
-You will see an autowidget error message

**Details:**
  - What version of Kodi? 19.0
  - What

[2021-02-20 18:03] drinfernoo commented on #82
I'm currently investigating this, but believe it to be an issue in the path-supplying add-on (Seren in this case).

[2021-02-21 02:36] drinfernoo commented on #82
@rizreflects If you're able, can you send a copy of the `.group` file for the widget you're using?

[2021-02-21 03:36] rizreflects commented on #82
I've uploaded it to my onedrive for you.

https://1drv.ms/u/s!AgpGD5FbtkrWm3bGi8v5VE9ABMU4?e=KjqAI8

[2021-02-21 14:32] avsha114 opened #83 "Dynamic group labels"
Hi!

Is it possible to create a group for random cycling and make it's label changed to the current playlist's name?
For example, I created a widget group from FEN called "Because you watched..." and inside there are 10 widgets called "Because you watched Dexter" or "Because you watched GOT". So I want the widget label to be the specific playlist label.
Is this an option? I searched but didn't fin

[2021-02-21 16:31] drinfernoo commented on #83
https://youtu.be/J7i4bW8H-kU

[2021-02-21 16:31] #83 closed, assigned to nobody

[2021-02-21 16:33] drinfernoo commented on #83
To add to this, there is also "Tools -> Toggle Skin Debugging" inside AutoWidget, that will help you find the container ID for your widget.

[2021-02-25 12:56] drinfernoo commented on #82
Should be fixed in 3.1.3 🎉

[2021-02-25 12:56] #82 closed, assigned to nobody

[2021-02-25 20:36] JSAKelley opened #85 "Widgets open to File Path when pointing to Library"
Using Kodi 18.9 with a MySQL database populated using TMDBHelper Add-On.

Widgets created using a playlist of shows is opening to file view (i.e. SHOWNAME.STRM) instead of the Library view.

It should be noted that when opening that show directly from the playlist it opens correctly.

[2021-02-25 22:11] drinfernoo commented on #85
Does thIs happen with a library *not* managed by MySQL? I have tested against ones fed from the normal Kodi library... but it's been awhile. I may need to do some further testing 🤔

[2021-02-26 17:59] JSAKelley commented on #85
I'm not sure. I'll test it out.

I have a PC that I use to run Kodi 24/7 and control the library updates.
This is also the MySQL server.  When I do it on that PC it works as
expected.

I set up another client on a fire stick I had lying around and it's broke
on that too.

I should note too that the library is stored on a network share on storage
attached to my router.

On Thu, Feb 25, 2021, 5:11 P

[2021-02-26 21:54] #37 closed, assigned to nobody

[2021-03-01 20:48] JSAKelley commented on #85
So either something fixed this in your update or me adding my library paths
on my clients did it. Either way I have it working now!

On Fri, Feb 26, 2021, 12:59 PM Sean Kelley <jsakelley6@gmail.com> wrote:

[2021-03-01 21:24] drinfernoo commented on #85
Awesome! I didn't touch anything related to this, so 🤷🏼‍♀️

In any case, glad it works now 👍

[2021-03-01 21:24] #85 closed, assigned to nobody

[2021-03-09 01:16] rizreflects commented on #81
Hey there, sorry to open the same closed topic.. but the problem persists even on matrix. I've attached pictures to this message. The actor thumbnails and the movie length are not shown at all.

![IMG_20210309_011337](https://user-images.githubusercontent.com/76912707/110403449-021e4800-8075-11eb-9479-31c8ad8a025f.jpg)
![IMG_20210309_011347](https://user-images.githubusercontent.com/76912707/11040

[2021-03-09 01:20] drinfernoo commented on #81
I'll have to look into this, but where is that item coming from (which add-on)?

[2021-03-09 12:52] rizreflects commented on #81
Serens liked movie lists

[2021-03-09 16:47] rizreflects commented on #81
https://1drv.ms/u/s!AgpGD5FbtkrWm3bGi8v5VE9ABMU4?e=KjqAI8

Thats the group file incase you need it.

[2021-03-11 00:28] drinfernoo commented on #81
Actually, it's come to my attention that while there is actually a bug with the JSON-RPC method we use, which would keep certain things from working (which I'll fix shortly), *cast* information is not stored in that way... only the crew is.

As you can see from your screenshots, you *are* actually getting cast *information* (the name and role), but not the images... Which appear to not be passed p

[2021-04-11 15:19] luckylukz02 opened #87 "[Bug] Autowidget Error"
Autowidget fails to load widgets with error to see log

**To Reproduce**
Start device with widgets to load
Or Open Autowidget

**Expected behavior**
Load widgets and be able to open addon

**Details:**
Kodi 20 Alpha1
Arctic Horizon
Intel NUC 8
Libreelec

**Additional context**
Having to run Libreelec 11 - Kodi 20 Alpha1 due to compatibility of HDR on device.

Log:

https://paste.kodi.tv/uqiyedisak

[2021-04-11 21:00] drinfernoo commented on #87
Ah, it appears that Kodi Six has now updated to handle the new implementation of `xbmc.translatePath`... Odd that I'm not seeing this happen in Kodi 19, however. I'll address it directly in the future, and it should prevent any further issues.

[2021-04-15 23:23] #87 closed, assigned to nobody

[2021-04-16 16:16] luckylukz02 commented on #87
Thanks for the fix all working again 👍

[2021-05-17 04:36] jojobrogess opened #88 "Create "timer" Setting for holliday/featured content cycles [Request]"
My Feature Request Is NOT Related To A Problem.

I would like to be able to set up an autowidget that would traditionally, let's say, use recommended movies as it's main content source, but when Christmas time starts it "switches" (or I guess you call it cycles? idk) to showing aChristmas movie smartplaylist.

This would also help with the creation of another idea I had, which was to cycle smartpl

[2021-05-17 05:06] drinfernoo commented on #88
Thanks for opening this issue 👍 I do like the suggestion, but I'm not sure how involved it would be to implement.

[2021-06-05 05:51] jojobrogess opened #89 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.
`plugin.program.autowidget\resources\lib\common\utils.py`
uses xbmc.translatePath and should use xbmcvfs.translatePath instead. Or at least that's what the Kodi logs keep telling me:

`WARNING <general>: xbmc.translatePath is deprecated and might be removed in future kodi versions. Please use xbmcvfs.translatePath instead.`

[2021-06-05 11:18] drinfernoo commented on #89
Update. This was fixed in 3.1.8.1 back in April.

EDIT: I've only just realized that 3.1.8.1 never made it to repo. I've pushed 3.1.9 to fix this.

[2021-06-05 11:18] #89 closed, assigned to nobody

[2021-06-08 04:17] patel-jeel92 opened #90 "Widget not working after copy pasting widget files from a backup"
I am running Kodi 19 and AutoWidget 3.1.8 and I have an old backup of autowidgets and manually copy pasted some .widget and .group files into the userdata/addon/plugin.program.autowidget directory. Then when I open AutoWidget and then try opening up active widgets, I get an error. The error from the log is shown. I have also attached a couple .widget and .group files.

Log snippet:
[code]

Widget

[2021-06-11 13:29] drinfernoo commented on #90
I would need to have a full log file, and a backup of your groups (can be done from AutoWidget's settings), in order to see which group is failing. It appears that neither of the files you've attached are the culprit, as neither one contains any Unicode characters for AutoWidget to choke on in the first place.

[2021-06-20 20:24] ivarbrandt opened #91 "AutoWidget throwing error when removing playback progress from Seren's context menu [BUG]"
When removing an items' playback progress in finish watching (movies) section using Seren's context menu, AutoWidget would throw an error. It would also throw errors when the AutoWidget would refresh. I would also sometimes not even load the widget even though there was other movies in the finish watching section.

It's important to note that the widget I think is throwing errors is a merged widge

[2021-06-20 20:35] drinfernoo commented on #91
I think I'll need to look a bit further into this, but in the meantime, could you create an AutoWidget backup and upload it here? There's a backup option in AutoWidget's settings 😉

[2021-06-20 20:39] ivarbrandt commented on #91
I can do that. I already used the option 'clean old widget files' in an attempt to fix the error. Would the backup still be valuable knowing this?

[2021-06-20 20:48] ivarbrandt commented on #91
Here's the backup.

[AutoWidget backup.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/6683054/AutoWidget.backup.zip)

[2021-06-21 23:38] patel-jeel92 commented on #90
The groups I am trying to paste are from this link https://www.reddit.com/r/Addons4Kodi/comments/lhdyul/kodiflix_made_a_netflix_titan_bingie_mod_build/. The guy has a build that he links, I just unzipped the file and copied all the groups he had inside the autowidget folder and pasted them into userdata/addon_data/plugin.program.autowidget directory. Here is the zip folder with all the groups and

[2021-06-25 13:41] Zhiro90 opened #92 "[Bug] Failure to display Widgets pointing to Elements without art"
**Describe the bug**
A displayed widget group will behave normally unless it has to display elements with art completely set up. Instead, the widget fails to load and an error notification pops up

**To Reproduce**
Steps to reproduce the behavior:
1.  Add "Genres" or "Directors" to test widget group
2. Add test widget group to skin home
3. Scroll to it.

**To Reproduce (Alt)**
Steps to reproduce t

[2021-06-25 15:16] drinfernoo commented on #92
What exactly are you adding into your groups? Are these library menus? like the "Genres" *item* from your library? And then you're making a widget if the actual group? If so, I'd recommend using these as a Shortcut Group. The issue may still arise, but Widget Groups should be used for *content*, whereas Shortcut Groups are for *shortcuts* to sections, basically.

[2021-06-25 23:30] Zhiro90 commented on #92
Thanks. I'll try your suggestions later

[2021-06-26 12:05] Zhiro90 commented on #92
So I've tried out a bunch of stuff. These are my findings:

[This issue seems to be the same as mine](https://github.com/drinfernoo/plugin.program.autowidget/issues/51)

My goal was to have a widget group that would cycle between showing my available genres, studios and actors. That's exactly what was shown in [the introduction video (from 1:30-2:00, showing the result at 3:55)](https://www.youtub

[2021-06-26 13:59] drinfernoo commented on #92
For this, use a cycling widget from a widget group.

[2021-06-26 21:15] Zhiro90 commented on #92
Isn't that the one I linked in the previous post? [posted as WIDGET, now named CYCLYNG WIDGET](https://youtu.be/xNtf7kycPvg) <- Those are youtube links. Maybe I'm missing something?

[2021-06-27 00:45] drinfernoo commented on #92
@Zhiro90 Ah, you're right. That does look right. Is the error you're getting in that video the same as the one you attached in the issue?

[2021-06-27 03:21] Zhiro90 commented on #92
Yes its the same log.

I feel its related to the other issue i linked. And that user didnt actually solve it, they just desisted from using those.

[2021-06-27 05:08] drinfernoo commented on #92
Can you try out `3.2.1` to see if it's fixed now? It worked for me to simply upgrade and point a widget at an already existing group.

[2021-06-27 05:42] Zhiro90 commented on #92
It's  loading properly now! I should ping the other user si they can try again.

Thank you so much.  I really appreciate it.

[2021-06-27 12:23] Zhiro90 commented on #92
Sorry for reopening and taking a while, I was recording.

Just a lil head's up, genres and studio icons aren't showing, even when changing the widget style, [here's a capture.](https://youtu.be/QUtHpoD9OwU)

The same folder view shows up in the widget itself [here's a screencap](https://i.imgur.com/2QPYMAM.png)

Artist do show up correctly

[2021-07-06 04:22] drinfernoo commented on #81
https://github.com/xbmc/xbmc/issues/19388

[2021-07-06 04:25] drinfernoo commented on #92
Interesting... I think that those genre icons are actually put there by the skin, and aren't something that is attached to the item. I'll have to look into it.

[2021-07-06 11:00] rizreflects opened #93 "[Bug] problem when trakt lists are set to random."
**Describe the bug**

This bug only occurs when a trakt list is set to display movies at random, (as opposed to rank or release date). Autowidget will retrieve the list as normal. However, it tends randomise 30-40 seconds after the list has been retrieved. Furthermore, this does not occur every single time, but enough that it becomes a problem.

In practice, the list will randomise as you are alre

[2021-07-06 12:54] drinfernoo commented on #93
This is a skin issue, and will likely happen even with widgets from other sources, if they're sorted randomly.

I do have an issue open already regarding sorting lists (#80) ahead of time, but haven't even gotten to it.

[2021-07-06 12:55] #93 closed, assigned to nobody

[2021-07-07 02:03] Zhiro90 commented on #92
Those come form downloadable icon packs (through the kodi repo itself), I'm still not quite sure how they work as I was just starting to set them up when I installed autowidget. The issue seems to be that the widget sends to a folder view, very distinct to the usual genres view

[2021-07-10 02:04] drinfernoo commented on #81
While there is still a standing bug in Kodi that prevents this, a fix has apparently been found that should allow AutoWidget to get ahold of cast thumbnails. Aside from that, I found that some of the logic of applying them isn't quite right *in* AutoWidget, so I'll address that in the meantime, and hopefully get "ahead of the curve" 👍

[2021-07-10 17:47] rizreflects commented on #81
Great to hear! Thanks for the update doc.

[2021-07-11 23:47] drinfernoo commented on #91
Actually, I was hoping for the "old" `.widget` files that you cleaned up 😅

Are you still having this issue?

EDIT: I just realized... the backup function doesn't even save anything but `.group` files 🤦 I've updated it on the `develop` branch, but haven't merged that change to `master` yet. It should be available in 3.3.0 (whenever that shows up), or you can grab any release from the devrepo after

[2021-07-11 23:52] drinfernoo commented on #92
I'll need to see how your groups are set up, I'm afraid. The easiest way to do this is with an AutoWidget backup (from settings).

[2021-07-12 00:04] drinfernoo commented on #43
It seems to me that the user that reported this was using media files by accessing the files directly, whereas the recommended method is to scan them into Kodi's library first. If this ever gets reported again, I'll look into it further.

[2021-07-12 00:04] #43 closed, assigned to nobody

[2021-07-12 00:52] drinfernoo commented on #44
#80 is a better issue for this.

[2021-07-12 00:53] #44 closed, assigned to drinfernoo

[2021-07-13 00:46] drinfernoo commented on #41
@jmh2002 I've implemented this in the `develop` branch, and it seems to be working fine for me... with the exception that it won't support *groups* made prior to what will be version 3.3.0 when it releases. If you want to set the content type of what will then be considered a "legacy" group, you'll need to recreate the group. After that, it will be settable from AutoWidget's context menu editor di

[2021-07-13 04:01] drinfernoo commented on #65
In addition to the commits that got referenced here (which will be merged to `master` for 3.3.0), I've gone ahead and updated the wiki with a bit more detailed instructions on usage :+1:

I haven't yet decided on whether to add hint labels inside the settings dialog or menus, but that should be easy if it gets decided on.

[2021-07-13 04:03] drinfernoo opened #94 "[Documentation] Editor Dialog"
The wiki still needs to be updated with regards to the editor dialog, what features it provides, and how to use it.

[2021-07-14 03:44] drinfernoo commented on #79
And this one should be working in 3.3.0 as well 🎉

It did take some finagling of the `.widget` file format, which is cleaner and easier to work with in general, I think... but will likely require many widgets to be re-pointed, as it is not very backwards-compatible with the old format.

[2021-07-14 04:18] BinaryAssault commented on #79
Out of curiosity, why not create a converter to sustain backwards compatibility? Or even a standalone tool to handle it

[2021-07-14 04:46] drinfernoo commented on #79
@BinaryAssault It's possible that I can make something work, but it seems like it would be more of a hassle to "run them through the converter" than to just repoint the widget 😅

Basically, each widget type before handled things pretty messily (in particular, "paged" widgets), in that they would store the entire definition of their current path inside, and change out the whole definition any time

[2021-07-14 11:08] Zhiro90 commented on #92
[BACKUP.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/6815540/BACKUP.zip)

{
    "paths": [
        {
            "target": "widget",
            "color": "white",
            "label": "Genres",
            "content": "",
            "window": "videos",
            "version": "3.2.3",
            "file": {
                "filetype": "directory",
                "art": {

[2021-07-14 21:57] drinfernoo commented on #92
Ok, so I've figured out why it's *not* working. Most skins look at either **a)** the "dbtype" of the item, or **b)** the "content" of the menu they're shown in, to determine if the items are a genre, studio, country, etc..., and set the icon accordingly, pulling it directly from one of the resource add-ons you mentioned previously. The icons *aren't* attached directly to the item.

Now, unfortunat

[2021-07-16 00:55] drinfernoo commented on #79
@BinaryAssault I've actually implemented a very simple automatic conversion, which should handle fixing the format of your old widgets, so that they match the new format 🎉

This should ideally include any existing Static, Cycling, and/or Merged widgets, and should happen with the first skin reload (or Kodi reboot) after you take the 3.3.0 update :+1:

[2021-07-16 02:34] BinaryAssault commented on #79
Job well done mate. Additional nice to have: auto backup prior to converting. Even if converting fails and the new file is foobar'd, the old one is preserved.

[2021-07-16 05:16] drinfernoo commented on #79
Either way, fixing it will be as simple as pointing a new widget.

I've also implemented a rudimentary "error state" widget, to indicate if there was an error loading it. This will typically mean a fresh re-pointing is necessary.

[2021-07-16 12:38] drinfernoo commented on #92
Yep, so this will be supported in 3.3.0 🎉 I've implemented a feature in settings where you can install various icon packs, and whichever you choose will be used for the widgets you've been talking about.

Currently this only officially supports library widgets, and the setting is AutoWidget-global, so you can't change icon pack per-widget. If people want some other stuff, let me know :+1:

[2021-07-16 12:44] drinfernoo commented on #81
To confirm, this actually appears to have already been fixed in Kodi 20, before we even got there. Unfortunately, those changes seem too big to backport to Matrix... so while AutoWidget will support cast thumbnails as of 3.3.0, the feature won't actually *work* unless running in a Kodi 20 instance (nightlies are a bit wonky, and stable is a ways off still).

[2021-07-17 13:39] milohelmes opened #95 "Ability to create subfolders"
I would love to be able to create widget groups inside widget groups. The main reason being organisation. An example would be creating a widget group called "Popular Movies" inside a group called "Movies" where I can place widgets from multiple addons.

Another example would be using AutoWidget as a way to create playlists. The Add to widgetgroup shortcut in the context menu could then be used to

[2021-07-17 14:10] drinfernoo commented on #95
Duplicate of #28.

[2021-07-17 14:11] #95 closed, assigned to nobody

[2021-07-18 15:13] #41 closed, assigned to nobody

[2021-07-18 15:13] #79 closed, assigned to nobody

[2021-07-18 15:13] #92 closed, assigned to nobody

[2021-07-18 15:14] drinfernoo commented on #78
Implemented in 3.3.0.

[2021-07-18 15:14] #78 closed, assigned to nobody

[2021-07-18 15:14] #65 closed, assigned to nobody

[2021-07-18 15:16] drinfernoo commented on #81
This feature is now supported (in Kodi 20 **only**) as of AutoWidget 3.3.0, so I'm closing this issue.

[2021-07-18 15:16] #81 closed, assigned to nobody

[2021-07-18 15:17] drinfernoo commented on #91
It should now be possible to do a more comprehensive backup, as of 3.3.0

[2021-07-18 17:25] ivarbrandt commented on #91
I don't have the back up files. I stopped using widgets altogether. Makes my Kodi faster.

[2021-07-18 18:09] #91 closed, assigned to nobody

[2021-07-19 13:49] Zhiro90 opened #96 "3.3 Breaks some widgets [Bug]"
**Describe the bug**
After updating, some previously working widgets from groups fail to load and show the error pictured in the screenshots. The failing group contains "Newly added" from Both Netflix and HBO Max plugins. Other widget groups containing widgets from these plugins didn't fail.  Also, the backup zip generated by the backup tool is filled with cache and history files (attached)
[BACK.

[2021-07-19 14:14] drinfernoo commented on #96
Your widget (`80d10be4-ba5d-45aa-8d2d-96b0d90c4a4d.widget`)is looking for a group with the ID `novedades-1625736675.56`, which I don't see in your backup... Have you mentally edited any of the `.group` files? I'm not sure what's happening here, so I might need to look a bit closer later this evening, but it should be fixed by repointing your widget.

The backup zip including all files was a delibe

[2021-07-19 14:44] Zhiro90 commented on #93
Thanks for your answer Any idea how they were working before the update?

[2021-07-19 14:52] Zhiro90 commented on #96
Oh haven't edited the backups manually, only deleted all of my groups from the zip and just left one broken and one working. Here's the complete backup. Sorry for the confusion.

[BACKUP2.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/6841885/BACKUP2.zip)

[2021-07-19 22:44] jmh2002 opened #97 "[Bug] updating to v3.3.0 causes script.skinshorts error on Xonfluence skin"
[Bug] updating to v3.3.0 causes script.skinshorts error on Xonfluence skin and AutoWidget fails to start / run.

Error occurs with identical installations on both Windows and LibreElec.
Rolling back to v3.2.3 solves the error.

Excerpt from the log after updating.

[code]

[2021-07-19 23:03] jmh2002 commented on #41
Ok thanks for the continued development :)

[2021-07-19 23:25] drinfernoo commented on #97
Ah, that's interesting... I'll have a look.

[2021-07-19 23:38] jmh2002 commented on #97
I guess it is because Xonfluence does not use script.skinshortcuts so this script is not installed on my setups.

[2021-07-19 23:57] drinfernoo commented on #97
That is why. You *could* install a skin that uses it, so that Skin Shortcuts gets installed, and then uninstall that other skin to save space. That would sidestep the issue for now.

I know what's causing the error, but not a super elegant way of stopping it.

[2021-07-20 00:10] jmh2002 commented on #97
Ok, for the moment I've rolled back to v3.2.3 to solve the error.

I believe that the current developer of Xonfluence for Matrix (bsoriano) is currently working on integrating Skin Shortcuts but I'm not yet sure when that version will be released.

[2021-07-20 02:31] drinfernoo commented on #97
@jmh2002 For what it's worth, AutoWidget does not *need* Skin Shortcuts.

It checks for the existence of Skin Shortcuts when it is trying to decide which widget metafiles to clear away (due to not being used anymore) during its cleaning cycle.

[2021-07-20 02:38] jmh2002 commented on #97
Hmm, well, since the update to 3.3.0 this 'checking for the existence of Skin Shortcuts' not only throws the above error, but also stops AutoWidget from running altogether.

[2021-07-20 02:45] drinfernoo commented on #97
Correct. I've fixed it in 3.3.1 :+1:

[2021-07-20 02:45] #97 closed, assigned to nobody

[2021-07-20 03:28] drinfernoo commented on #96
Ok... so from what I can see here:

Your widget (`80d10be4-ba5d-45aa-8d2d-96b0d90c4a4d`) is a Merged Widget:
[code]
This widget has a single path (`recently_added_netflix-1625736683.75`), which is from the group `novedades-1625736675.56` (not the group you pasted into your original comment). For one thing, this seems like an odd usage of a Merged Widget, and would likely be better suited by a Stat

[2021-07-20 03:29] #90 closed, assigned to nobody

[2021-07-20 04:25] Zhiro90 commented on #96
I'll update and report later. the merged widget with only one element comes from deleting one by one the rest of the elements from the widget group. It originally had recently added from HBO max and recently added media from skin library service. Tried many variations adding and removing paths and ended with only netflix left and it still had errors.

that's why I originally deleted some groups fr

[2021-07-20 05:22] jmh2002 commented on #97
Confirmed as fixed with v3.3.2, THANKS :)

[2021-07-20 06:32] Zhiro90 commented on #96
With the update, the widgets that failed because of empty netflix lists work again. The "live TV" widget still failed due the twitch "now live" path returning nothing online. Once removed from the group it works again, so it must be related to empty lists perhaps.  Thank you so much

[2021-07-20 12:03] drinfernoo commented on #96
Did they fail with an error as before, or just "drop out"?

[2021-07-20 20:36] Zhiro90 commented on #96
With an error as before
![screenshot002](https://user-images.githubusercontent.com/25686691/126380910-7aafbcd0-0413-4270-bc6e-b2bd287fae88.png)

[2021-07-20 20:57] drinfernoo commented on #96
Can you get me a fresh log?

[2021-07-20 21:59] Zhiro90 commented on #96
Here's the log. Added groups backup
[kodi.log](https://github.com/drinfernoo/plugin.program.autowidget/files/6851463/kodi.log)
[BACK3.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/6851477/BACK3.zip)

[2021-07-21 00:31] drinfernoo commented on #96
It really seems like something's not right here. I copied in the associated files for that widget into my setup, and was able to get it working. I did have to clear the cache... have you tried that?

[2021-07-21 04:58] Zhiro90 commented on #96
Clearing cache solved the issue! Thanks again!

[2021-07-21 04:58] #96 closed, assigned to nobody

[2021-07-21 20:52] drinfernoo commented on #34
Thinking about this a bit more, I think even Widget Groups should work the way Shortcut ones do, since you can change the labels, content type, etc... for those as well 🤔

[2021-07-23 15:12] drinfernoo commented on #74
These should now be handled by #98 😉

[2021-07-23 15:16] drinfernoo commented on #70
This one should be closed by #98 now.

[2021-07-23 15:17] drinfernoo commented on #75
I think this one may be covered by #98 as well.

[2021-07-24 03:10] sdstreams opened #99 "[Bug]"
Update: I went back to 3.3.1 and its working again.
---------------------------------------------------------------
**Describe the bug**
A clear and concise description of what the bug is.

When I go into my video addons and click on AutoWidget I get an error. I have uninstalled then reinstalled without any issues but trying to open the addon I get an error. Been using for well over half a year wi

[2021-07-24 03:40] drinfernoo commented on #99
Ah, you know what... I hadn't even thought if this 🤦 It's an issue where I've written code that isn't Python 2.7-compatible, and I've been primarily testing in Kodi Matrix, which uses Python 3.8. Let me see if I can come up with a more compatible way.

[2021-07-24 03:44] sdstreams commented on #99
Thank you for looking into the issue. As always you are very appreciated for the great work you do.

[2021-07-24 03:54] drinfernoo commented on #99
Should be fixed in 3.3.6. Just needed to adjust the logic I used in that method.

[2021-07-24 03:54] #99 closed, assigned to nobody

[2021-07-25 09:43] Tonkapug opened #100 "Unable to create widgets[Bug]"
**Describe the bug**
When creating a widget group and configuring it to Cycle an error is produced. Upon further inspection, there is no active widget created.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a widget group with two or more items
2.  Activate the widget with the static, cycling, or merged action.
4.  The result is an 'Error showing' message

**Expected behavior**
To c

[2021-07-25 11:48] drinfernoo commented on #100
Are you not choosing any paths when you make the widget?

[2021-07-25 12:41] Tonkapug commented on #100
Yes, I am choosing paths. Sorry, I didn't mention that. I've tried both leaving the options green and selecting which changes them white. Neither creates the widget. When I select both items which changes them both white I get the error.  Both choices should be in the log.

Autowidget Version 3.3.6

[2021-07-25 12:57] drinfernoo commented on #100
They're selected (green, in your case) by default. If you choose no paths (deselect all), there is nothing to show. I should look into making sure there is no error here, but are you saying that even if you leave them selected, the widget still doesn't work?

[2021-07-25 13:00] drinfernoo commented on #100
I'm also a bit suspicious of this line:
`2021-07-25 07:04:57.257 T:21820    INFO <general>: CAddonMgr::ADDON::CAddonMgr::FindAddons: plugin.video.themoviedb.helper v99.3.24 installed`

Where did you get this version of TMDbHelper?

[2021-07-25 13:03] Tonkapug commented on #100
That is correct...even building the widget with both items highlighted in green the widget is not created. It appears to complete and the list of titles show up but when I go to active widgets there are none. I go to addon_data and no 'Widget' file is created there either. Only the 'Group' file is there.

[2021-07-25 13:30] Tonkapug commented on #100
I just tested and that is not the issue. I can resend the log with the latest TMDBHelper version if needed. The only difference in that version is the artwork. I edited it myself as I do not like the included artwork.

[2021-07-25 13:33] Tonkapug commented on #100
New Log

[kodi.log](https://github.com/drinfernoo/plugin.program.autowidget/files/6873959/kodi.log)

Everything runs fine (as in no error) when leaving highlighted 'Green' but there are no active widgets and no 'Widget' file is created.

[2021-07-25 15:00] drinfernoo commented on #100
It doesn't appear you are actually creating a widget... You only have Estuary and Estouchy installed (by default, I might add), so you can't define your own widgets in the first place.

A `.widget` file is only created whenever a widget is created on the skin, and thus populates "Active Widgets" with widgets which are... active 😅

[2021-07-25 15:43] Tonkapug commented on #100
lol...you're correct. It works fine on Estuary Mod but It appears this is not doable on the Xonfluence skin. I will have a closer look when i get a chance...Sorry for wasting your time lol.

[2021-07-25 16:03] Tonkapug commented on #100
@drinfernoo I got it working on Xonfluence. Had to create the widget in Estuary Mod and use that shortcut as a widget in Xonfluence and the widget file was then created. You can mark this as closed.

[2021-07-25 17:40] Tonkapug commented on #100
@drinfernoo That didn't work....the widget has to be rebuilt on each reboot. Anyway for these to work with Xonfluence? I've been reading your post on the kodi forum and i see you mention it should work with Xonfluence. Link below

https://forum.kodi.tv/showthread.php?tid=352934&pid=2937574#pid2937574

[2021-07-25 17:45] drinfernoo commented on #100
I'll have to test again, but they should work fine... they did in Leia, but there is a new maintainer for Xonfluence from what I understand, so maybe he's changed something that's broken compatibility.

[2021-07-25 17:54] Tonkapug commented on #100
Thanks for the assistance. I can create a favorite only for the 'Cycling' path and that always produces a popup window to choose Random or Next. The widget works fine but on every reboot, you have to rebuild it, and also if you open Autowidget and choose 'Active widgets' the widget file is immediately deleted.

[2021-07-25 18:03] drinfernoo commented on #100
I'll load up the new Xonfluence tonight and see what I find.

[2021-07-25 18:26] Tonkapug commented on #100
I appreciate it, bud. I know there is a version with skinshortcuts out there but i'd prefer without. I have the Matrix version., link below.

https://github.com/bartolomesoriano/skin.xonfluence

[2021-07-25 21:16] drinfernoo commented on #100
So the issue is that AutoWidget tries to "clean out" unused `.widget` files on startup, and Xonfluence reads widget paths from `favourites.xml`, which I wasn't scanning to see if a widget was "in use". I've just pushed a fix which is live on the devrepo in version 0.0.1405, and will get merged to stable at some point in the near future.

The side effect of this particular fix is that if you intend

[2021-07-25 22:46] Tonkapug commented on #100
I will give this a test in the morning. Xonfluence should read the widget path from settings.xml and not favorites.xml. I wouldn't want to leave these in my favorites. I appreciate you looking into this for me and i will get back to you with the results.

[2021-07-26 00:04] drinfernoo commented on #100
Actually you're right, it does... I still think that's what was happening to you, in any case. Give the test release a shot and see. I'd recommend specifically testing version 0.0.1405, as I made a couple other changes since then that may or.may not affect your experience.

[2021-07-26 11:09] Tonkapug commented on #100
So, I tested this and found the actual widget is created but produces the error code as I mentioned in my first post.

kodi.log error

`2021-07-26 08:37:16.133 T:1336     INFO <general>: plugin.program.autowidget: [ action: cycling ][ group: trending-1627296664.568058 ][ id: 81d7a4dc-8e4d-4437-af6e-486118a540d4 ][ mode: path ][ refresh: $INFO[Window(10000).Property(autowidget-81d7a4dc-8e4d-4437-af

[2021-07-26 11:57] drinfernoo commented on #100
I know I said to try 0.0.1405, but could you try the latest devrepo release instead? I fixed the bug you're seeing now already.

[2021-07-26 12:21] Tonkapug commented on #100
It;'s working now! However, it will only function if the favorite is kept. If the favorite is removed you have to re-create the widget on each boot. Any way to eliminate having to keep the favorite?

[2021-07-26 12:37] drinfernoo commented on #100
Actually... I found the bug causing that as well 🤦 I actually *wasn't* scanning the skin settings files, due to a goof in my path construction. I think with that in mind, I'm going to *remove* scanning of the `favourites.xml`, and it should still work just fine.

Give 0.0.1415 a try.

[2021-07-26 12:51] Tonkapug commented on #100
You got it! Widget is created and works fine on reboot even with favorite deleted. I appreciate you looking into this. Will this be added to master?

[2021-07-26 13:05] drinfernoo commented on #100
Yeah, ill probably do a stable release later today.

[2021-07-26 23:40] #100 closed, assigned to nobody

[2021-08-04 04:11] BinaryAssault opened #102 "[Request] Add a widget health check"
It's pretty often that something in one of autowidgets go south causing Kodi to crash.

This is no fault of autowidget. But instead of crashing Kodi, it'd be nice if I could go into auto widget and have a Check Health option that could report issues with autowidgets and maybe even disable or modify them.

Currently, when the issue happens. If I go look at active widgets in autowidget, I get an err

[2021-08-04 04:16] drinfernoo commented on #102
The log is the way to troubleshoot issues.

[2021-08-06 20:07] Goldenfreddy0703 opened #103 "[Feature Request] A Custome Search list that provides results in addons."
**Is your feature request related to a problem? Please describe.**
This feature request is not typically a problem but it is on some skins cause most skins don't prove a costume search engine to edit with.

**Describe the solution you'd like**
A  Costume Search List that provides results in addons.
Ok so basically, i think its possible to make a Costume Search List so that what it does is that it

[2021-08-07 03:51] drinfernoo commented on #103
I don't really see how this would work in AutoWidget... The "custom search paths" feature in those skins allows you to have widgets in a "search hub" that each show separate results from a specific add-on.

The closest I could get would be to have paths in AutoWidget that you could then point homescreen widgets at... but how would you get the search query into them? And how would you get them into

[2021-08-07 05:23] Goldenfreddy0703 commented on #103
You know, i just realized and im not too sure about that. I thought about this after making this suggestion and i think when it comes to search results, you ask yourself how its going to be displayed and im not too sure about that. The only solution to that is probably making a costume menu in order to show search results from the addons you made the custom search paths on. I thought it would be a

[2021-08-07 05:29] drinfernoo commented on #103
I just don't really think that this is something that's within the scope of what AutoWidget is designed to do.

[2021-08-07 05:32] djay commented on #103
@drinfernoo slightly different feature but in theory there could be a search titles of cached paths. not sure how useful that would be though.

[2021-08-07 05:39] djay commented on #103
@drinfernoo actually there is perhaps a way put search into autowidget. Someone could do a search in another plugin and then click "add to autowidget", then it asks them for the keyword they searched for so it knows what to replace in the url.
Then autowidget could have a search group of multiple search paths which can be merged. Browsing the search group asks for a keyword and does the search. Th

[2021-08-07 06:09] Goldenfreddy0703 commented on #103
@djay hey I was thinking about that too but having autowidge combining search results is probably not as useful as much. You did give me a good idea tho. Every 15 sec or 20 sec, the search results could cycle through so maybe it is possible to have your own search paths and would be a good idea.

What do you think @drinfernoo

[2021-08-07 06:12] djay commented on #103
I think it would only make sense if each plugin results list was very short, ie a very specific search.
or otherwise there would need to be a relevence ranking alg to work out how to combine results from plugins so better results are first. and/or remove duplicates of the same item if the aim was that different plugins searched different databases but some results are the same.
But for example if

[2021-08-07 12:15] drinfernoo commented on #103
But if the skin doesn't allow custom search paths, how will a "search" AutoWidget be supplied with the query to replace in its own paths?

[2021-08-07 16:48] Goldenfreddy0703 commented on #103
Well what you can do is make a search button and you can have settings for it to add custom search paths or actions and when you click the search button it will show you the results but can cycle through every 15 seconds.

[2021-08-07 16:49] Goldenfreddy0703 commented on #103
@djay your probably better at explaining this then me tbh.

[2021-08-07 18:46] drinfernoo commented on #103
But where would this search button *be*? The only places AutoWidget would be **able** to put it would be either inside the add-on (in a menu), or as an item in the widget.

[2021-08-07 19:41] Goldenfreddy0703 commented on #103
You could put the search button inside of the addon so that when we customize are skins menu that search button can be used as an action.

[2021-08-07 20:35] drinfernoo commented on #103
I've been thinking about it and I think I actually have a pretty cool way of implementing this that could be really useful. I'll reopen the issue, that way I don't forget about it :+1:

[2021-08-07 22:06] Goldenfreddy0703 commented on #103
Nice, I'm so happy to see this issue reopened and maybe it can be possible in the future. I will be glad to help you all the way on this enhancement, thank you

[2021-08-08 09:20] djay commented on #103
I thought the whole idea was to make it so it integrates with skin custom search paths. so it just needs to make available a path without the search filled in if I read the original request correctly.

I guess it could also be made available to use within AW menus itself, maybe under active widgets? or special menu?

[2021-08-08 12:03] drinfernoo commented on #103
I think his idea was to use this in skins that don't have that feature.

[2021-08-08 18:11] Goldenfreddy0703 commented on #103
Yes that was my idea sense most skins like osmc or titan bengie or embury skin Limit you on certain things especially when it comes the view types.

[2021-08-08 19:24] drinfernoo commented on #103
There's still some bugs to work out but I have a "proof of concept" for this which I think will work pretty well 😉

[2021-08-08 22:48] Goldenfreddy0703 commented on #103
Nice, thank you so much for considering this idea. Your addon is the best and it helped me alot especially with seren.

[2021-08-11 02:43] BinaryAssault commented on #102
Of course the log is a good way for a dev or more experienced user to troubleshoot. But for the average user, this is a difficult task, especially if Linux is involved. It'd be much easier to just have some sort of health check that simply says this widget is broken so it's getting disabled. In windows, it crashes Kodi with broken widgets (for me). Tracking it down last time was a hassle

[2021-08-11 05:02] drinfernoo commented on #102
@BinaryAssault While I find it unlikely that a "broken widget" would crash out of Kodi, there are already certain situations where a completely failed widget will simply "fall out" or show a "broken" indicator.

In an upcoming release (likely 3.4.0), we'll also have a bit more informative "error", "empty", and "loading" tiles, which should give an idea if the overall state of the widget. In their

[2021-08-12 14:22] rizreflects opened #104 "[Bug] Regarding autowidget shortcuts"
I dont know whether this is a bug or a feature request so I just labelled it as a bug (hope that's okay). Anyway this is the problem I'm having. I created a shortcut group consisting of items in my seren liked movie list. I then renamed this list to 'genres' and this is what it looks like now:

![autowidgetgenres](https://user-images.githubusercontent.com/76912707/129212639-0e2b29b8-46a2-4b29-aa7c

[2021-08-12 15:04] drinfernoo commented on #104
I believe this is because you've set your default action as "Show Information"... Why not use it as a widget?

[2021-08-12 15:13] rizreflects commented on #104
Oh believe me I have plenty of autowidgets 😂. I actually have widgets for all of those shortcuts cycling (just over 120 alltogether).

The thing is, I wanted to create a submenu called 'genres' so I can access the lists more easily (rather than waiting for a particular widget to load).

You're right though, I do have show info set in settings.. the problem is if I change that to 'play' the widgets

[2021-08-12 22:10] drinfernoo commented on #104
So is this a shortcut group, or a widget group?

[2021-08-12 22:30] rizreflects commented on #104
A shortcut group.

[2021-08-24 19:35] Tonkapug commented on #100
@drinfernoo How would I go about sorting that widget in an XML different than settings.xml?  I'm using a different skin and the widget shortcut is now located in Includes_Home.xml.

I tried manipulating your code to get it working but to no avail. Obviously, I'm nowhere near correct lol. The widget works fine but has to be activated after each reboot as in the Xonfluence skin.

Here's what i edite

[2021-08-24 20:43] drinfernoo commented on #100
I don't think that particular file you're looking at will be the one... Skin files are rarely (if ever) modified directly when widgets come into play.

The only file I know of that works this way is the `script-skinshortcuts-includes.xml` file, which is actually generated **by** Skin Shortcuts so that the skin can use those widgets.

It's possible that we could scan that file, but this may have un

[2021-08-24 21:02] Tonkapug commented on #100
This skin doesn't have the ability to create widgets outside of the video library. It's basically the stock Estuary skin with a few simple modifications. However,  I have modified one of the skin files to allow a widget on the home screen. The widget does work fine but I just have to reenable it after each boot.  If needed, I can show you how I went about this.  It was a quick edit to add the widg

[2021-08-24 21:20] Tonkapug commented on #100
I made a mistake in my previous post. The name of the file is 'Includes_Mod.xml, not "Includes_Home.xml".

[2021-08-24 21:41] drinfernoo commented on #100
I won't be supporting that type of thing. You *may* be able to make an edit in AutoWidget to have it work, but it would be a bit more complicated than a single line change, and would get overwritten with each AutoWidget update...

It would be better to ask the developer to implement widgets into their skin, at this point.

[2021-08-24 21:46] Tonkapug commented on #100
Thanks...I was hoping it was a simple fix but should have known it would be a bit more complicated. I wasn't expecting you to support it in your add-on. I was more looking for help on getting it working. I would have just re-added the mod each time an update was pushed.

[2021-08-26 16:27] rizreflects opened #105 "[Bug] Group files will not automatically update"
I've come across quite a problematic bug i'd like to bring to your attention. Any group file that contains a trakt list (in my case via seren) will not update automatically if new movies are added / deleted. The only way for the list to update is by manually clearing the cache in autowidget settings.

**Details:**
  - What version of Kodi? 19
  - What device? I have tested this on windows, Nvidia

[2021-08-26 16:54] drinfernoo commented on #105
The cache should be being refreshed every five minutes or so, but it seems there is an issue with that in the latest stable builds.

Can you please test 0.0.1444 from the devrepo to see if that works better for you? That release contains a lot of fixes and improvements for caching, that should be in stable once we get #98 merged.

[2021-08-26 17:10] rizreflects commented on #105
No problem. I'll test it today at some point and get back to you.

[2021-08-26 18:00] rizreflects commented on #105
Update: the dev repo is working perfectly. It updates in a matter of seconds. (Tested on Nvidia shield)

[2021-08-26 18:10] drinfernoo commented on #104
You know, I think this probably has to do with the folder logic of the items in the menu... I'll keep it in mind.

[2021-09-02 08:53] rijsab opened #106 "[Bug] Library indicators"
Hi,

Local library indicators are not showing up in the widgets on posters. If I add a widget to AW from tmdbhelper --> IMdB --> Networks --> Netflix and save this path into lets say Widget 'IMdB'. Using Cosmic skin the indicators are not showing, however when navigating to above path without using Autowidget they will show up.

Seems like files are not recognised in AW widgets and therefor TMDBhe

[2021-09-06 13:38] #105 closed, assigned to nobody

[2021-09-06 13:38] #75 closed, assigned to nobody

[2021-09-06 13:39] #74 closed, assigned to nobody

[2021-09-06 13:39] #70 closed, assigned to nobody

[2021-09-06 13:39] #102 closed, assigned to nobody

[2021-09-07 19:49] rizreflects opened #107 "Autowidget no longer works for me"
After the last update autowidgets not working at all on my shield. All 7 of my autowidgets look like this:

![IMG_20210907_204253.jpg](https://user-images.githubusercontent.com/76912707/132402418-9d5cd159-4dd4-4f2b-8bef-eee5c54fa4fa.jpg)

Although it says loading content, it doesn't actually load.

Also when starting Kodi I get an autowidget error message every time.. here's the log for that:

htt

[2021-09-07 19:50] drinfernoo commented on #107
Can you clear cache from settings and check that it works afterwards?

[2021-09-07 19:51] rizreflects commented on #107
I done that.. also refreshed the widgets afterwards.. no success.

[2021-09-07 19:56] drinfernoo commented on #107
Can you attach an AutoWidget backup?

[2021-09-07 20:10] rizreflects commented on #107
Backup? Can you tell me how to do this?

[2021-09-07 21:37] drinfernoo commented on #107
@rizreflects There's an option in settings 😉

[2021-09-08 00:20] rizreflects commented on #107
https://1drv.ms/u/s!AgpGD5FbtkrWgP4wpL7AE0_3ERwm4w

[2021-09-08 08:33] antoniopetreski commented on #107
This is happening to me as well.. after the update.

Whenever there's AutoWidget error popup, it's the same thing in the logs.
[code]

Also, it says
"Could not read JSON from ./addon_data/plugin.program.autowidget/..." and "No JSON object could be decoded" and i haven't touched anything in the userdata folder since i installed kodi.

Hope you'll find this information helpful 🙂

[2021-09-08 13:40] drinfernoo commented on #107
@rizreflects I'm unable to reproduce this. The "Loading Content..." tile does appear (as well as the "Updating Widgets" notification... while content is being loaded. Once they're loaded, the notification goes away, and I can see the widgets.

I tested this by loading your widgets into my skin, and can see them just fine.

@antoniopetreski That sounds like a different issue, but I'd need a full lo

[2021-09-08 14:14] rizreflects commented on #107
Can you clear the cache and refresh the widgets... Do they still load up for you?

[2021-09-08 16:25] drinfernoo commented on #107
@rizreflects It is working for me after clearing cache as well, but can you try 0.0.1458? I've added some logic to remove more files during the cache clear, which may help.

[2021-09-08 17:32] rizreflects commented on #107
Just tested 0.0.1458.. seems to be working. I'd appreciate it if you could push an update to the stable repo sooner rather than later.. I have autowidget installed on a few of my friends devices aswell and they wouldn't know what I'm talking about if I told them to install from the dev repo.

Thanks a lot.

[2021-09-08 17:45] rizreflects commented on #107
Update: I just reverted back to the stable build from the dev one and everything seems to be working properly now. Widgets are refreshing and updating as intended. Not sure why that problem occured but it's sorted now so I'm gonna close this issue to not take up anymore of your time.

[2021-09-08 22:53] antoniopetreski commented on #107
@drinfernoo it's still not fixed on my end, it might be a different issue, however I'll post a comment instead of opening a new issue.

It just says "Loading content..." at the top and the reload/refresh item at the bottom. And whenever i press on the reload icon, the screen flicks few times, like it's making few attempts, but in the end the reloading/refreshing always fails
It's only happening on

[2021-09-09 02:52] drinfernoo commented on #107
@antoniopetreski Entering the widgets through AutoWidget opens it directly in the source, so that is not an indicator of the widget working properly, unfortunately.

This is a separate issue, which will have to be looked at, as I haven't seen that particular error crop up at all. If you'd open a new issue (you can even just copy/paste the comment you made) that would help me not lose it, since thi

[2021-09-09 13:11] rijsab opened #109 "[Bug] Notification displaying"
Please ignore. My mistake.

Apologies.

[2021-09-09 13:12] #109 closed, assigned to nobody

[2021-09-09 13:13] rijsab commented on #109
My mistake.

[2021-09-09 15:11] rizreflects commented on #107
@drinfernoo could you possibly add an option to hide the 'updating widgets' notification?

Also I've noticed that when manually refreshing the widgets via AW settings, Kodi (on the shield) sometimes crashes.

I've also noticed widgets take considerably longer to refresh. Just out of curiousity, is this because the cache is being cleared each time? Previously it wud take 20- 30 seconds for all 7 of

[2021-09-09 15:16] drinfernoo commented on #107
Possible, but it is meant to be an indicator that things are working correctly.

If you refresh every widget, that is going to be a load on the system, no matter which system you're using.

The cache isn't cleared each time. I don't really have any way of knowing why they're refreshing slowly, but if there are paths trying to show which are not cached yet, then they have to be cached before they c

[2021-09-09 15:40] rizreflects commented on #107
For me, it's already simple enough to know if things are working properly. If the widgets are changing regularly and updating with new movies, it's a good indication that things are working well. Either way though, do what you feel is best. Thanks for all your work.

[2021-09-09 18:48] rizreflects commented on #107
Sorry to bother you again but I've noticed another problem.  It seems every 10-15 minutes the 'updating widgets' notification returns. I've set autowidget to refresh every hour and a half in settings so it's not because of that. Once it's finished updating, it doesn't refresh the lists, but rather the items inside the lists. Since most of my items are set to random via trakt, this update causes th

[2021-09-09 19:02] drinfernoo commented on #107
@rizreflects This is intended behavior, as the cache gets updated regularly now, where it was broken (and didn't) before.

[2021-09-09 19:53] rizreflects commented on #107
:/ surely that's gotta be a problem though right? Because it means you can't add any lists that are set to random (via trakt) to autowidget. I remember in the past when the cache would function properly, this problem was never there. I would have definitely noticed if it was.

Would you consider adding an option to update the cache once a week rather than every few minutes? I get why some lists wo

[2021-09-09 19:57] rizreflects commented on #107
(sorry if I used the term cache wrong) I'm just referring to the refreshing that occurs every 10-15 minutes.

[2021-09-09 21:49] drinfernoo commented on #107
@rizreflects I don't understand the complaint...

You sort your lists randomly, so that you'll see more content, but you're saying that AutoWidget changes the content *too often*?

[2021-09-09 22:48] rizreflects commented on #107
I think I'm doing a bad job at explaining.. let me start again.

Let's say for example I like this list from seren, then add it to autowidget:

https://trakt.tv/users/rizreflects/lists/feel-good?sort=random,asc

Since this list is sorted as random through trakt, it randomises each time it is loaded on Kodi (as would be expected). The problem however, is each time you see the 'updating widgets' not

[2021-09-09 23:09] rizreflects commented on #107
Here's a video of the problem

https://streamable.com/dbhaj4

See how after the 'updating widgets' notification finishes the widget randomises? This occurs every time, which is every 10-15 minutes.

[2021-09-10 00:32] drinfernoo commented on #107
Again, this is expected behavior. We are getting the most up-to-date information about the list, so the order matches what is found in the add-on.

This is the same behavior that would be seen if you pointed a widget directly at an add-on and the widget was reloaded under normal circumstances... which can be at any time, and is typically controlled by a variety of factors, from the skin to the add

[2021-09-10 01:36] rizreflects commented on #107
Alright no worries. I'll revert back to the previous version and manually clear the cache from now on. With 7 autowidgets all set to random it's just not usable for me anymore with the constant refreshes. Thanks for all your help though, appreciate it.

[2021-09-10 03:29] drinfernoo commented on #107
@rizreflects Bear in mind that this was always the way it should've been working (and did before 3.0.0). The reason it worked the way you liked was because the caching mechanism was broken.

[2021-09-10 09:40] antoniopetreski commented on #107
@drinfernoo this fixed the bug that i was having.. do you still want me to open a new issue?
The error that was being triggered is not there anymore and the content is loading on all of my widgets.. as it was

[2021-09-10 12:55] rizreflects commented on #107
Hey doc, I'd just like to run something by you if that's alright. If I go into cache.py and change

DEFAULT_CACHE_TIME = 60 * 5
to
DEFAULT_CACHE_TIME = 60 * 1

Would this mean the cache will refresh once an hour from now on or isit much more complicated than that? Sorry if I'm coming across a bit stupid, I don't have any coding experience which is why I wanted to run it by you. I'm trying to reduc

[2021-09-10 13:48] drinfernoo commented on #107
@rizreflects That would make the cache expire every minute 😅

EDIT: Either way, that value has nothing to do with how quickly widgets refresh, only how soon the cache expires.

[2021-09-10 13:49] drinfernoo commented on #107
@antoniopetreski No, that's ok. Seems we've fixed it 😁

[2021-09-12 23:12] luckylukz02 opened #110 "[Bug] Background Update message"
When I launch Kodi I get a long Autowidget update message displayed on the top right corner. This is fine as I need the update to happen.

However in my TV show section i get a constant message regarding Autowidget update. At the moment it notifys 33% 66% 0% then repeats.

My question is can this be performed in the background with no message displayed.

This is also messing with my TV lights as y

[2021-09-12 23:22] drinfernoo commented on #110
Is that notification displaying "constantly", as in it never goes away, or it shows up every few minutes? It really shouldn't be constant...

[2021-09-12 23:28] luckylukz02 commented on #110
Yes this is constant in TV show section only.

[2021-09-12 23:30] luckylukz02 commented on #110
Also just to add about #109 also using cosmic skin

[2021-09-13 00:13] drinfernoo commented on #110
@luckylukz02 That's not how Kodi works. Widgets load no matter which section you're on.

What about #109?

[2021-09-13 00:19] luckylukz02 commented on #110
I don't know how kodi works but in this case it is doing exactly that.

On Mon, 13 Sep 2021, 01:13 drinfernoo, ***@***.***> wrote:

[2021-09-13 01:34] drinfernoo commented on #110
In 3.4.2, I've removed the notification.

[2021-09-13 01:34] #110 closed, assigned to nobody

[2021-09-13 05:24] djay commented on #107
There is still a bug here from the except in the logs.
[code]

the code for iter_queue is wrong.
[code]

It's assuming the queue doesn't change mid way and have items deleted which isn't true.
What it should probably do is either reread the queue files each time or at least fix the problem if the file doesn't exist anymore.
If it's rereading it then potentially an update could keep getting extende

[2021-09-13 05:49] djay commented on #107
I think between the two options having the queue get longer while its being processed is probably the better option. Otherwise the queue finishes and then appears to start again 15s later which would more annoying that % progress going backwards I think. and backwards progress you can at least associate with something you did recently.

[2021-09-13 09:46] luckylukz02 commented on #110
Perfect thank you

[2021-09-17 10:32] tatkodi opened #111 "[Bug] Shortcuts within a Shortcut crashing Kodi"
### DESCRIPTION:
I've added a few search shortcuts (e.g. search movies), which contain search paths from different addons to a parent shortcut 'Search', which can be called from home. The parent shortcut is not a widget but it's set as an action to a main menu item.
I have other groups for home widgets too but whenever I use any search shortcut and return to home, Kodi crashes.

### DETAILS
  - Ve

[2021-09-17 13:36] drinfernoo commented on #111
Your log is far from complete, and doesn't appear to even show a shortcut group being triggered at all.

In order to diagnose this, I'll probably need to see your `.group` files... I presume you mean you're adding the "Search Movies" item from an add-on (for example) to a shortcut group called "Search", such that you end up with a single shortcut group that contains multiple "Search" paths.

I hav

[2021-09-17 14:01] tatkodi commented on #111
### COMPLETE LOG:
https://paste.kodi.tv/olulawirep.kodi

### GROUP FILES:
https://www.dropbox.com/s/fvh3b0fdg9cc0dz/AW%20backup.zip?dl=1

For what I've done is that I've added multiple "Search" items from different movie related add-ons to a "Search Movies" shortcut. I have "Search Anime", "Search Live TV" etc. similarly with multiple search paths in each. Then I added all of these categorized sea

[2021-09-17 16:02] drinfernoo commented on #111
Right, so "nested" shortcut groups is what we're looking at.

I'll have to have at this at some point, as I don't think that I've ever tried it myself... But it may be a bit, as I've been fairly busy recently.

[2021-09-17 16:39] tatkodi commented on #111
It navigates, searches, and plays content perfectly. The problem is when returning home, it crashes.
I guess I'll just add 4 different widgets to a main menu item.

[2021-09-19 00:17] Arthur1967 opened #112 "Cant point the widget I’m new to this"
Hello I can't seem to point a widget I am using xonfluence I'm 19.1 with an android box it says I have one active widget however I did that I wish I could remember but it seems to be updating them sorry for the novice question but I really want to use this thank you and what is the proper configuration have a good night￼￼￼

[2021-09-19 01:08] drinfernoo commented on #112
For Confluence-based skins (like Xonfluence), you need to add the "Cycling"/"Static"/"Merged" option to your Favorites first, then use the skin widget setup in order to use that Favorite as a widget, if my memory serves.

[2021-09-19 01:08] #112 closed, assigned to nobody

[2021-09-19 01:09] Arthur1967 commented on #112
I knew it was a simple fix thank you very much have a good night
On Sat, Sep 18, 2021 at 9:08 PM drinfernoo ***@***.***> wrote:

[2021-09-19 14:46] Arthur1967 opened #113 "Zip"
Hi I download a plug-in and tried to extract a file but I cannot get the zip file can you send me a link to get it so I can stay updated with the latest tweaks and versions I really like this as it updates things instantly￼

[2021-09-19 16:13] drinfernoo commented on #113
Always install from the repository.

[2021-09-19 16:13] #113 closed, assigned to nobody

[2021-09-19 16:18] Arthur1967 commented on #113
OK￼￼

[2021-09-20 16:13] tatkodi opened #114 "[Bug] Kodi crashing"
AutoWidget has suddenly started crashing Kodi. The widgets and shortcuts work fine but when I open the AutoWidget add-on for configuration and then return to home, it often crashes Kodi. I thought removing nested shortcuts would fix the crashing but after that, the circumstances have changed although the crashing is persistent.

**DETAILS**
  - Kodi 19.1
  - Arctic Zephyr 2 Resurrection Mod
  - PC

[2021-09-20 16:15] drinfernoo commented on #114
Sounds to me like this is a duplicate of #111, then.

[2021-09-20 16:15] #114 closed, assigned to nobody

[2021-09-20 16:41] tatkodi commented on #111
I thought removing nested shortcuts would fix the crashing but after that, the circumstances have changed although the crashing is persistent.
The widgets and shortcuts work fine but when I open the AutoWidget add-on for configuration and then return to home, it often crashes Kodi.

**LOG**
https://paste.kodi.tv/olupomenuj.kodi

**GROUP FILES**
https://www.dropbox.com/s/fvh3b0fdg9cc0dz/AW%20backup

[2021-09-27 19:28] Arthur1967 opened #115 "Which two you"
I have a Trakt list of recent released movies￼ Would I use merged static or cycle for this as it updates I'm just not sure thank you sorry for the easy question for you but I did get widgets to initialize it works great￼

[2021-09-27 19:30] drinfernoo commented on #115
https://github.com/drinfernoo/plugin.program.autowidget/wiki/How-to-Use-AutoWidget

[2021-09-27 19:30] #115 closed, assigned to nobody

[2021-09-27 19:31] Arthur1967 commented on #115
OK thank you
On Mon, Sep 27, 2021 at 3:30 PM drinfernoo ***@***.***> wrote:

[2021-09-28 12:05] Arthur1967 opened #116 "Just saying thank you"
I've got it all working widgets are initialized on Xonfluence skin If you know of any other useful add-ons or if you have any ideas please let me know thanks again￼￼

[2021-09-28 13:23] #116 closed, assigned to nobody

[2021-09-28 13:27] drinfernoo commented on #116
For general communication like this, the Kodi forum is a better venue.

Please try to keep issues on topic, and related to either bugs or specific feature requests, rather than general thoughts and questions.

[2021-10-06 08:55] Arthur1967 opened #117 "Not sure which one to use"
Newest episodes of dateline 48 hours and 60 minutes would I use merged widget Or explode as a widget group or cloned as a shortcut thank you I know it's a pretty simple answer but that's the only when I can't get I figured out the rest thank you￼￼

[2021-10-06 12:57] #117 closed, assigned to nobody

[2021-11-10 07:12] Goldenfreddy0703 commented on #103
Hey there, i know its been a few months and its been awhile but i wanted to go back to the feature request and talk about another way we can use the search future in the auto widget.

Another way of making a custom search is by making a custom shortcut that can produce results by typing costume search paths: jurialmunkey/skin.arctic.horizon.2#104

If we can put custom search paths into your addon

[2021-11-10 13:38] drinfernoo commented on #103
I haven't forgotten about this, just been very busy with other things.

[2021-11-10 22:21] Goldenfreddy0703 commented on #103
Oh then that's totally fine and I understand, thank you.

[2021-12-03 06:14] Goldenfreddy0703 opened #119 "[Feature Request] A hide option to hide your shortcuts."
**Is your feature request related to a problem? Please describe.**
It is related to my problem cause sometimes, i need to hide shortcuts that i created when testing new addons for other people.

**Describe the solution you'd like**
A hide option in the context menu where you can hide your shortcuts and they will be highlighted red.

**Example**
![image](https://user-images.githubusercontent.com/62

[2022-01-02 04:38] jojobrogess opened #120 ""trying to load setting definitions from old format..." bug dropped connection?[Bug]"
### LOGS AT BOTTOM
*****************************************************************************************************************************************

**Describe the bug**
Yeah so I can't really be clear on if this was autowidget or something going on in my network, but this is not the first time I have noticed this happening.

As I was watching a TV Show, playback started to buffer here an

[2022-01-02 04:53] jojobrogess commented on #88
Is there any way of setting the `Default time between widget refreshes` to something more than 12 hours?

I ask this because I have, for the most part, a static library and while I want the widgets to change, it's a little unnecessary for me to refresh it so quickly.  Is there any way of arbitrarily setting it? To like multiple days. So that it doesn't refresh everyday(everytime I open kodi)

This

[2022-01-04 15:29] drinfernoo commented on #120
The `trying to load setting definitions from old format...` message is relatively normal. This occurs for a lot of add-ons in your log, and is not an indication of an error.

The log snippet you attached is also normal. AutoWidget performs some background caching in order to make sure that its widgets show the most accurate items quickly.

[2022-01-04 15:29] #120 closed, assigned to nobody

[2022-01-27 11:50] ivarbrandt opened #121 "'Loading content' tile doesn't disappear after merged widget loads"
I'm seeing a bug where the loading content tile is not disappearing on merged widgets. It works correctly on static and random but not merged widgets.

I've attached a screenshot below. How can I fix this?

EDIT: So it seems that this issue only occurs when one of the paths that is being merged is empty. I added content to the empty path and that made the loading content tile disappear. Still a bu

[2022-01-27 13:44] #121 closed, assigned to nobody

[2022-02-04 18:53] stvg88 opened #122 "[Bug] Cannot directly play items in Shortcut Group"
**Describe the bug**
I have a folder containing a list of channels that once I click on it, it will play the channel directly. But this folder contains a lot of channels, and I want to create a Shortcut Group for a subset of these channels so that I can access them from home screen. But once I add the channels to the Shortcut Group, I cannot play them from AutoWidget (I can still play them from th

[2022-02-04 19:21] drinfernoo commented on #122
I've gotten similar reports in the past... unfortunately, I don't have any IPTV service to try and replicate this myself.

If you could upload an AutoWidget backup (from AutoWidget's settings), I may be able to come up with a solution.

[2022-02-05 06:45] stvg88 commented on #122
[stvg88_backup.zip](https://github.com/drinfernoo/plugin.program.autowidget/files/8007532/stvg88_backup.zip)

Attached the backup here. The Shortcut Group with the issue is called Sports.

In this group, only the 2 shortcuts starting with Bimozie work (because they're actually shortcuts to a folder). The rest can't play.

![image](https://user-images.githubusercontent.com/20413268/152631829-ff42e4

[2022-02-09 10:14] Goldenfreddy0703 commented on #80
Hey there, im also looking forward to this update too cause if i want to add my favorites, i got to make it easier to add instead of finding them in my my groups.

[2022-02-10 03:59] drinfernoo commented on #106
Are these items you have in your library already?

[2022-02-10 12:58] scapix commented on #106
hello,
just checked the issue (using merged group) and @rijsab is right. items that are already in local library are not showing "collected" overlay. if using TMDb directly they are showing as supposed

[2022-02-10 22:44] drinfernoo commented on #106
You know... I can replicate this, but haven't gotten enough time lately to actually try and debug it. I do believe that "watched" indicators should work, but I don't see "collected"-style indicators like in the library. TMDbHelper does this by querying the local library for additional details on each item, so AutoWidget may need to do the same if we want this.

[2022-02-11 04:44] drinfernoo opened #123 "[Enhancement] Use xbmcvfs file and folder operations"
Switching to using `xbmcvfs` for file and folder operations (in as many places as feasible/necessary) would allow for greater support over network locations, particularly in regards to path substitutions.

[2022-02-11 13:11] scapix commented on #106
did not have time to check your code, but at least found out what should be implemented:
in horizon skin library overlay is added if
`!String.IsEmpty({listitem}.Property(Item.Info)) + !String.IsEmpty({listitem}.DBID) + !Skin.HasSetting(DisableIndicator.Library)`
so, DBID must be set for listitem to show "collected" overlay. after checking cached TMDb responses it is already there as "id" property.

[2022-02-11 17:48] drinfernoo commented on #106
@scapix Can you test version `0.0.1488` from the devrepo?

You shouldn't need to do anything, except possibly clear cache on your widget(s).

[2022-02-12 11:18] scapix commented on #106
have not checked 0.0.1488, but latest develop branch and it works

[2022-02-14 14:57] #123 closed, assigned to nobody

[2022-02-14 15:20] drinfernoo commented on #122
Unfortunately, I don't really have a good way of investigating this one... I don't have (nor know where to get) any of the add-ons that your shortcuts are pointed to.

[2022-02-14 15:23] drinfernoo commented on #111
I don't really think this is an AutoWidget issue... I think this is a Kodi issue, where sometimes returning to the homescreen crashes the program. I've seen it before, and it still happens now and then.

[2022-02-14 15:23] #111 closed, assigned to nobody

[2022-02-19 09:46] stvg88 commented on #122
file manager link: `http://repo.kodi.vn`
repo zip file name: `repository.vmfmatrix-1.0.2.zip`
addon name: `Video Addons > VN Media`

Directory inside addon: `Thể Thao > Sport IPTV > World Poker Tour (1080p)`

Hope this could help you investigate~

[2022-02-21 15:13] drinfernoo commented on #122
There is no "World Poker Tour (1080p)" item in that add-on at the moment...

I tried the various shortcuts in the groups you sent, and can replicate this, but I think it's more of an issue with that add-on. AutoWidget can certainly play items directly from a shortcut group, if the add-on the shortcut comes from works correctly.

I believe the issue here is with `setResolvedURL`... but I don't have

[2022-02-22 16:25] stvg88 commented on #122
Thanks for your effort!

However, if I favorite the channel, then I can play it directly in Favorites. I take it that AutoWidget implements the shortcut differently from Kodi's native Favorites function?

[2022-02-22 17:43] drinfernoo commented on #122
@stvg88 Yes, it's completely different.

[2022-02-24 15:21] stvg88 commented on #122
hi @drinfernoo just fyi, i tried using Super Favorites add on from this repo https://github.com/jmooremcc/Repository.jmooremcc/raw/master/jmooremcc.repo.zip , and it's able to play the channels above! Not sure whether that add on has the same implementation as Kodi's native Favorites function or not, but you can take a look if you want!

[2022-02-24 15:52] drinfernoo commented on #122
I've had an idea, but haven't had time to test it thoroughly yet.

[2022-02-28 04:03] drinfernoo commented on #122
@stvg88 Can you try 0.0.1526 from the devrepo? You'll need to add your shortcuts again (I'd recommend removing the old ones first to mitigate confusion, or just make a new group for them), but I've made a fix that *may* help. It doesn't work for **everything** I tested, but for most reasonable add-ons, it seems to work.

[2022-03-03 02:02] daveftw84 opened #124 "paged widgets not updating[Bug]"
when i click next page, the widget isnt updating to show the next items with aura mod and imdb helper.
i have show next page enabled and widget limit set to unlimted.
when i click next page, nothing happens unless i refresh skin

[2022-03-03 02:10] drinfernoo commented on #124
Are you clicking on "Next Page" from AutoWidget, or "Show More" from AuraMOD?

[2022-03-03 04:32] daveftw84 commented on #124
from autowidget, i tried show more for giggles but that loads me into a new menu away from home

[2022-03-03 04:33] daveftw84 commented on #124
i think it looks like skin isnt being updated to show changes. when i force skin refresh i see things have moved in the widget

[2022-03-04 04:33] daveftw84 opened #125 "[Bug] auto widget and iagl"
when selecting a game from an autowidget, i get a processing files loop on top corner. everything works fine, just the processing files never goes away untill you start something else

[2022-03-04 04:35] #124 closed, assigned to nobody

[2022-03-04 04:35] daveftw84 commented on #124
skin needs aggressive widget updating, which it doesnt have

[2022-03-11 19:56] drinfernoo commented on #122
@stvg88 Is this fix working for you?

[2022-03-13 14:24] stvg88 commented on #122
@drinfernoo sorry haven't got the chance to test yet since i'm overseas for awhile and didn't bring my kodi setup with me 😅 will update once i got the chance to test!

[2022-03-25 00:46] fedevx opened #126 "[Bug] Could not read JSON from special..."
I see actually two issues in one here. The first causes the second and I'm not sure it is triggered by me doing something or just part of the automatic refresh:

First, Autowidget fails to read what seems as a valid JSON file. The error shown in the log says:

`Could not read JSON from special://profile/addon_data/plugin.program.autowidget/2240a25ab3e8e53229c479bb86778e93a73a0171.history: Expectin

[2022-03-25 01:02] drinfernoo commented on #126
Can you share an AutoWidget backup, or at least the `2240a25ab3e8e53229c479bb86778e93a73a0171.history` file?

[2022-03-25 01:40] fedevx commented on #126
Couldn't find a backup, here is the history file.

[2240a25ab3e8e53229c479bb86778e93a73a0171.txt](https://github.com/drinfernoo/plugin.program.autowidget/files/8346700/2240a25ab3e8e53229c479bb86778e93a73a0171.txt)

[2022-03-25 01:54] drinfernoo commented on #126
You can create a backup from the add-on's settings... that file does look valid, so I'm really not sure what's going on there, without being able to see more of the other files.

[2022-03-25 03:33] fedevx commented on #126
I had another error on a cache file.

`ERROR <general>: plugin.program.autowidget: Could not read JSON from special://profile/addon_data/plugin.program.autowidget/b713a524d3f1fb10762b2833a90c9bfdfbfaf6bd.cache: Expecting ':' delimiter: line 2947 column 34 (char 165145)`

Again, the file looks fine and python is able to parse it correctly. The file contents however is probably not something I shoul

[2022-03-25 15:16] drinfernoo commented on #126
I'll look into changing the default return value in case of failure, but I'll have to investigate other potential consequences of that beforehand.

Also, it is relatively odd that the JSON wouldn't be correctly parsed anyways, if it is indeed valid JSON.

Could you provide a full log?

[2022-04-01 16:56] gtkingbuild opened #127 "Error to Clear Cache"
In the latest version of Autowidget it gives a registration error again when using the "cache cleanup" tool in the settings

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to 'Tools'
2.  Click on 'Clear Cache'
3.  Click on 'Yes'
4.  See error

**Details:**
  - What version of Kodi? Kodi 19
  - What skin is being used? AuraMod by SerpentDrago
  - What device? PC
  - What platform? Windows

[2022-04-01 21:18] #122 closed, assigned to nobody

[2022-04-01 21:20] drinfernoo commented on #127
Fixed in 3.6.1.

[2022-04-01 21:20] #127 closed, assigned to nobody

[2022-04-01 21:20] drinfernoo commented on #122
Pretty sure this should be working now, as of 3.6.1 👍

[2022-04-01 21:25] drinfernoo commented on #126
In the absence of a full log, can you try and test `0.0.1533` from the devrepo? I've made the change you suggested, and it doesn't *seem* like it will have an effect anywhere else that I can see right off.

If that still doesn't help, please provide a full log 😉

[2022-04-02 02:15] fedevx commented on #126
Yeah, I made some changes to the code myself so it would redownload the JSON file if it failed to read it. So while I still get the error, the file would be fixed right after. I'll get the new version and report back.

[2022-04-02 16:24] djay commented on #126
fixed in https://github.com/drinfernoo/plugin.program.autowidget/pull/108

[2022-04-03 03:31] drinfernoo commented on #126
@djay Interesting! I could see how that would help, but I need to review the refreshing code a little more thoroughly before merging. Sorry it's been so long!

[2022-04-05 12:06] fedevx commented on #126
Seems this does it. The error still happens but now it is better handled. As for the reason of the error (which could be handled separately), could it be the plugin is trying to read a file while it is still being written? I have Kodi on a Raspberry Pi 4, so maybe in certain situations, writing the file would take longer than on a PC.

[2022-04-10 07:29] jojobrogess opened #128 "[Bug] Failed to install from repo/zip"
**Describe the bug**
A clear and concise description of what the bug is.
Failed to install 3.6.1 from repo or .zip(from downloading here and striping extra files)
I'm pretty sure I was on 3.6.0 . And I'm pretty sure I've always installed via .zip method but this time I chose repo.

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to  'Addon Repo Download' or 'Install from .zip'
2.  Click o

[2022-04-10 08:21] Blahkaey opened #129 "[Bug] error on startup and widgets not loading"
On startup I get an error pop up for auto widget and widgets never load, they just say loading content. Shortcuts do seem to work though.

I’m on Xbox series x kodi 19.4 using titan binge and venom

- NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
Error Type: <class 'AssertionError'>
Traceback (most recent call last):
File "/addons\plugin.program.autowidget\service.py", line 4, in <module>
monitor

[2022-04-10 08:25] jojobrogess commented on #128
Okay well tried playing tv show being shown by autowidget, then I was prompted with " You need to install Autowidget to use this feature. Would you like to download Autowidget" I clicked yes. and boom installed.

idk what's going on. but sorry for wasting your time.

[2022-04-10 08:25] #128 closed, assigned to nobody

[2022-04-10 13:11] dmyoung9 commented on #129
I'll need a full log if anything 🤔

[2022-04-10 13:13] drinfernoo commented on #129
I'll need a full log if anything 🤔

[2022-04-12 02:32] stvg88 commented on #122
@drinfernoo hi just managed to test this. It can be played directly from AutoWidget now, but kodi would crash if I put the AutoWidget group as a home screen widget. I suspect that could be due to the skin I'm using though (cosmic) 😂

[2022-04-20 21:45] fuxkuptheworld commented on #129
I'm only receiving the pop up error message on one skin which is titan mod but the error is still in the logs on every kodi boot

log files
https://paste.kodi.tv/eheguduzif.kodi

![Kodi_20220420_165542](https://user-images.githubusercontent.com/104105124/164327415-e3792d4f-eb29-45f2-9235-ab08b56c0c31.png)
![Kodi_20220420_165551](https://user-images.githubusercontent.com/104105124/164327428-1f514fa

[2022-04-25 23:50] jojobrogess commented on #88
I've been giving this some thought and I think this could be solved by either adding an additional option to the context menu options for widgets something like 'refresh date instead of time' or changing the refresh context menu entirely.

So my idea is Instead of selecting from a range of 15min-12h, it can be user defined in either hours, days, or specific dates.

I also think that adding an opti

[2022-04-26 11:19] Blahkaey commented on #129
https://paste.kodi.tv/puculocozu

[2022-04-26 13:52] drinfernoo commented on #88
@jojobrogess Thanks for reminding me of this request... I'm definitely not opposed to it, but I just haven't really had much time to get into AutoWidget lately.

I really like the idea of automatically changing out for holiday- or event-based widgets, as I think it gives this an important way to achieve the "streaming provider vibe" that I initially set out for. I do, however, think that making mu

[2022-04-26 13:57] drinfernoo commented on #129
You know, I'm not really sure why this would be happening 🤔 The assertion that's erroring is based on a widget ID that should come from one of the cache files, which shouldn't ever be malformed, but it could happen. Can you try clearing your cache from AutoWidget's Settings or `Tools -> Clear Cache`?

[2022-05-21 01:13] Hawkedon opened #130 "[Bug] null widget_id due to unicode label string handled incorrectly"
Just found it's duplicated

[2022-05-21 04:06] Hawkedon commented on #129
Hi @drinfernoo, I got this issue too, seems it's due to the Xbox access restriction for some os python package functionality.

@blakie1225

Edit: After debugging the addon with Web-PDB, I finally figured out the problem for Xbox. Just removing the three assertions at the beginning of cache_and_update method will fix the crash. The widget_id variable is None due to the yield statement. The assertio

[2022-05-21 04:06] #130 closed, assigned to nobody

[2022-05-26 11:13] Hawkedon opened #131 "[Bug] AutoWidget makes Kodi very laggy (due to fs task queue)"
Hi @drinfernoo,

After using AutoWidget, I found Kodi UI is very laggy, and I have only 1 widget from AutoWidget. I understand during refresh, it may be laggy, but don't understand why it's laggy all the time. So I did a profiling for the addon and got the following:

From the log we can see, the next_cache_queue method was invoked for each second! Is that really necessary? especially during the i

[2022-05-26 18:13] djay commented on #131
yeah it should be changed to use watchdog

[2022-05-27 00:46] djay commented on #131
actually replacing the queue files with a notifyAll call is a much better idea now I know it exists.

[2022-06-02 11:42] Blahkaey commented on #129
Could I get the zip file with the edits you made?

[2022-06-04 01:04] djay commented on #129
probably fixed by https://github.com/drinfernoo/plugin.program.autowidget/pull/108/commits/a25131cb1bdf02846671cce88543acb8abfc0ffa

[2022-06-13 15:53] djay opened #133 "[Request] Paged widgets without source paths being paged"
**Is your feature request related to a problem? Please describe.**
Some plugins give you very long paths without a way to page them. This is resource intensive on a low end system

**Describe the solution you'd like**
Since we now use caches, we can allow paging if a path is too long and doesn't have a new page item in it.

**Describe alternatives you've considered**
You can just set a limit on th

[2022-07-13 17:06] Mr-7mdan opened #134 "[Request] Muti-row paged widgets"
Although i think, this is a skin-feature, but in your video on youtube (https://youtu.be/Kf8BiKJy46o), you’ve done a multirow widget as a presentation for an upcoming feature in autowidget

I am not sure if this is an Autowidget feature or it is Arctic Horizon.

Pls help start digging on this. I cannot seem to find where to start

thanks

[2022-07-13 17:07] drinfernoo commented on #134
That is the `icon` widget aspect in Arctic Horizon.

[2022-07-13 17:08] #134 closed, assigned to nobody

[2022-07-13 17:38] Mr-7mdan commented on #134
I used to use AH and now i use AH2. The icon aspect doesn’t wrap/extend to a second row. Only one row appears.
I just check AH. I can confirm that it is one row inside the widget using the icon aspect

[2022-07-15 10:52] djay opened #135 "[Request] schedule cache updates based on expiry time"
**Is your feature request related to a problem? Please describe.**
We already predict the expiry time so no need to wait until playback or refresh to update teh cache.

**Describe the solution you'd like**
Change the queue to a priority queue based on expiry. Process based on now updates or if expired.

**Describe alternatives you've considered**
Set up a period schedule that reevaluates the predi

[2022-07-27 23:57] fedevx commented on #126
It has been a while but I got around changing the code to save a copy of the JSON content that failed to be decoded just to see why it was failing. I'm still not sure how it came to happen but the JSON files that failed have binary data in them that breaks the JSON structure (a bunch of 00).

I'm attaching a sample.
[autowidget.txt](https://github.com/drinfernoo/plugin.program.autowidget/files/920

[2022-08-06 03:17] ehxactly opened #136 "[Bug] AutoWidget Not Functioning on Kodi 19.4 Matrix UWP (On Xbox)"
**Describe the bug**
I have tried multiple times, on multiple fresh installs and repeatedly get "error with autowidget" appearing. This causes the widgets I make to appear with a 'Refresh symbol' and no results from for example Seren.

**To Reproduce**
Steps to reproduce the behavior:
1.  Install Kodi on Xbox (In this case I side-loaded it with a dev account)
2.  Install autowidget add-on
3.  Exit

[2022-08-15 21:35] Loroskii commented on #136
I'm  having the same issue, tried AutoWidget on windows and it perfectly fine, but on Xbox I tried 2 times with fresh installs of kodi, it still gives the same error, I read somewhere it's due to xbox access restriction of some python package, but don't know how to work around that.

[2022-08-15 21:37] Brillyz commented on #136
I'm  having the same issue, tried AutoWidget on windows and it worked perfectly fine, but on Xbox I tried 2 times with fresh installs of kodi and it still gives the same error, I read somewhere it's due to Xbox access restriction of some python package, but don't know how to work around that.
Log: https://paste.kodi.tv/deqowineko

[2022-08-16 04:03] djay commented on #136
Seems to be related to one of the bugs fixed in https://github.com/drinfernoo/plugin.program.autowidget/pull/108. Try the beta build and see if that fixes it. I don't think it's related to access restrictions on packages but just random corruption of the json files and handling that better

[2022-08-16 08:22] Brillyz commented on #136
Where is the beta version available? as listed on the kodi forum and on this github, there are only stable and dev builds available, I tried the dev build as well and still it didn't work, if you could give me any tips I'd be grateful.

[2022-08-16 09:44] djay commented on #136
Sorry I meant the dev build. However there is an issue that the dev build is the last PR with a commit rather than an integration branch so it's hard to tell if the current dev build has the code that fixes the issue or not. @drinfernoo should know.

[2022-08-16 15:57] #129 closed, assigned to nobody

[2022-08-16 16:02] #126 closed, assigned to nobody

[2022-08-16 16:03] drinfernoo commented on #136
@Loroskii Can you try the `3.7.0` release? That should have all of the changes form the outstanding PRs.

[2022-08-16 16:04] drinfernoo commented on #107
@rizreflects Can you try the `3.7.0` release? This should be fixed now.

[2022-08-16 16:04] drinfernoo commented on #131
@Hawkedon Can you try the `3.7.0` release? This should be fixed now.

[2022-08-16 17:33] rizreflects commented on #107
I'm afraid I won't be able to test until the weekend. I'm currently working in another city and haven't brought my TV with me. I'll be sure to report back on the weekend.

[2022-08-17 21:13] Brillyz commented on #136
@drinfernoo sorry for the late response, I checked the 3.7.0 release twice now with a fresh install of Kodi again, this time the widget error does not come up on Kodi notification when launching Kodi or trying to use the addon, so that is fixed, but still the widgets don't show on the main screen, they only show refresh icon, and when I do click the widget to refresh, it just keeps loading and not

[2022-08-18 02:44] djay commented on #136
@drinfernoo maybe there are skins where the widget_id is unknown? What to do in such cases?

[2022-08-18 03:10] djay commented on #136
@Loroskii I don't have a setup to test your case where there is no widget_id associated with a list. But I created a PR that should fix it. Try the dev build https://github.com/drinfernoo/plugin.program.autowidget/pull/137

[2022-08-18 11:35] Brillyz commented on #136
@djay Thank you so much, I tried the updated dev build and it works perfectly fine now.

[2022-08-23 15:59] Mccrza opened #138 "[Bug](?) Shortcut for Force Refresh Not Working"
Not sure if I'm just looking at this wrong, and apologies if I'm not posting in the right place but the shortcut command to force refresh widgets isn't working for me.

I tried adding an item to both my power menu and a home menu submenu widget, using a custom action:

<code>RunPlugin("plugin://plugin.program.autowidget/?mode=force")</code>

There's no error indicated, and nothing in the log, in f

[2022-08-24 04:30] #136 closed, assigned to nobody

[2022-08-24 04:41] djay commented on #34
@drinfernoo the current code tries to estimate how often a path changes.
Could impliment it like this
- if a path inside an exploded group is requested (e.g. loaded into a widget) then evaluate the exploded group as if its also a path.
- if the group path seems likely to have changed then do a queued refresh on it
- after any path refresh then look up if that path is synced to an exploded group
-

[2022-08-24 04:48] djay commented on #125
@daveftw84 I used it with IAGL with no problems. can you retest with the latest build?

[2022-08-25 02:54] Mccrza commented on #138
Hey, so this is embarrassing... Today the buttons seem to be working just fine. Sometimes my kodi setup is quite slow as I've got it running on something with very limited space and memory, I think that's all it was.  Sorry to clog up your page with this! Love the addon!

[2022-08-25 18:42] #138 closed, assigned to nobody

[2022-08-27 15:06] rizreflects commented on #107
Sorry for the delayed response. The widgets have been working well now from my testing.

[2022-09-10 16:58] Mahava opened #139 "[Bug] kodi crashes and closes whenever i attempt to refresh widgets"
run the refresh command
get an error message
kodi closes

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Details:**
kodi 19.4
Arctic horizon 2
windows 10

[2022-09-12 10:21] djay commented on #139
@drinfernoo I'm not sure if this is the way to fix it or not - https://github.com/drinfernoo/plugin.program.autowidget/pull/140. maybe more needs to be done?

[2022-09-22 23:12] NedMitch opened #141 "Can't install autowidget on fresh install"
Hi, I have got a fresh build of Kodi 18.9 on an Android note 20 as well as a Chromecast with Google TV. When it comes installing the latest version via your repo of autowidget, it fails during the installation and I have tried several versions of the add-on.
Any ideas what might be causing this?

![Screenshot_20220923_000914](https://user-images.githubusercontent.com/114031205/191867103-906cd1cd-6

[2022-09-22 23:30] dmyoung9 commented on #141
Ohh... looks like this was broken in #108. @djay, looks like `queue` is not valid in Python 2.7 😬

[2022-09-23 00:33] djay commented on #141
It's not meant to be python 2.7 compatible. Upgrade to Kodi 19

[2022-09-23 00:54] #141 closed, assigned to nobody

[2022-09-28 17:58] Yuzuriha-San commented on #80
Nearly 2 years later, any updates?

[2022-10-11 08:48] djay commented on #136
Did you try the debug build to see if that works better?

On Tue, 16 Aug 2022, 4:37 am Loroskii, ***@***.***> wrote: